workflows/Automated AI YouTube Shorts Factory for ASMR (Seedance).json
{"createdAt":"2025-09-29T20:07:01.980Z","updatedAt":"2025-09-29T20:11:03.000Z","id":"zNkXs8wzMdaRUKux","name":"Automated AI YouTube Shorts Factory for ASMR (Seedance)","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"function findSceneEntries(obj) {\n  const scenes = [];\n\n  for (const [key, value] of Object.entries(obj)) {\n    if (key.toLowerCase().startsWith(\"scene\") && typeof value === \"string\") {\n      scenes.push(value);\n    } else if (typeof value === \"object\" && value !== null) {\n      scenes.push(...findSceneEntries(value));\n    }\n  }\n\n  return scenes;\n}\n\nlet output = [];\n\ntry {\n  const inputData = items[0].json;\n  const scenes = findSceneEntries(inputData);\n\n  if (scenes.length === 0) {\n    throw new Error(\"No scene keys found at any level.\");\n  }\n\n  output = scenes.map(scene => ({ description: scene }));\n} catch (e) {\n  throw new Error(\"Could not extract scenes properly. Details: \" + e.message);\n}\n\nreturn output;\n"},"id":"4b2bf0c1-4321-40ee-83b6-e1b9c7f08009","name":"Unbundle Prompts","type":"n8n-nodes-base.code","position":[2896,192],"typeVersion":2},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/mmaudio-v2 ","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"= {\n        \"prompt\": \"ASMR Soothing sound effects. {{ $('Prompts AI Agent').item.json.output.Sound }}\",\n        \"duration\": 10,\n        \"video_url\": \"{{ $json.data.outputs[0] }}\"\n  }\n","options":{"batching":{"batch":{"batchSize":1,"batchInterval":2000}}}},"id":"70c0a116-0dba-4eff-9562-3cd42274dfbd","name":"Create Sounds","type":"n8n-nodes-base.httpRequest","position":[3088,416],"typeVersion":4.2},{"parameters":{"url":"=https://queue.fal.run/fal-ai/mmaudio-v2/requests/{{ $json.request_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"986664c1-6d5a-4a2f-9143-4774c8847100","name":"Get Sounds","type":"n8n-nodes-base.httpRequest","position":[3616,416],"typeVersion":4.2},{"parameters":{"amount":60},"id":"fa604b3b-d7db-480e-8dd4-53d30f6d5e58","name":"Wait for Sounds","type":"n8n-nodes-base.wait","position":[3312,416],"typeVersion":1.1,"webhookId":"0312262f-31f7-4ad7-aa3a-c857199f714c"},{"parameters":{"jsCode":"return [\n  {\n    video_urls: items.map(item => item.json.video.url)\n  }\n];"},"id":"e82b5576-aae2-462b-98db-013c095908ba","name":"List Elements","type":"n8n-nodes-base.code","position":[2896,608],"typeVersion":2},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/ffmpeg-api/compose","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"tracks\": [\n    {\n      \"id\": \"1\",\n      \"type\": \"video\",\n      \"keyframes\": [\n        { \"url\": \"{{ $json.video_urls[0] }}\", \"timestamp\": 0, \"duration\": 10 },\n        { \"url\": \"{{ $json.video_urls[1] }}\", \"timestamp\": 10, \"duration\": 10 },\n        { \"url\": \"{{ $json.video_urls[2] }}\", \"timestamp\": 20, \"duration\": 10 }\n      ]\n    }\n  ]\n}","options":{"batching":{"batch":{"batchSize":1,"batchInterval":2000}}}},"id":"c1413668-1018-4774-9356-5733eb9ccc7c","name":"Sequence Video","type":"n8n-nodes-base.httpRequest","position":[3088,608],"typeVersion":4.2},{"parameters":{"url":"=https://queue.fal.run/fal-ai/ffmpeg-api/requests/{{ $json.request_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"f112850e-158f-412b-a73c-52a608dfc9c1","name":"Get Final Video","type":"n8n-nodes-base.httpRequest","position":[3616,608],"typeVersion":4.2},{"parameters":{"amount":60},"id":"53f3b32f-1bf0-411e-a75a-169e1662fef4","name":"Wait for Final Video","type":"n8n-nodes-base.wait","position":[3312,608],"typeVersion":1.1,"webhookId":"9b23873e-e4b8-4ba8-8941-0569e90ecaac"},{"parameters":{},"id":"98a95291-6549-45f4-a648-45ff4c8f194b","name":"Think","type":"@n8n/n8n-nodes-langchain.toolThink","position":[2416,496],"typeVersion":1},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1"},"options":{}},"id":"848ad918-686b-498b-bed3-d55b591e1dbc","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[2048,416],"typeVersion":1.2},{"parameters":{"promptType":"define","text":"=Give me 3 video prompts based on the previous \n\nUse the Think tool to review your output","hasOutputParser":true,"options":{"systemMessage":"=Role: You are a prompt-generation AI specializing in satisfying, ASMR-style video prompts for kinetic sand. Your task is to generate a multi-scene video sequence that vividly shows a tool (like a knife, scoop, or press) interacting with kinetic sand in a clean, high-detail setting.\n\nYour writing must follow this style:\n\nSatisfying, tactile realism.\nMacro-level detail with a tight focus on the tool interacting with the sand's unique texture.\nThe tool must always be in motion — slicing, scooping, pressing, or crumbling the sand. Never idle or static.\nCamera terms are allowed (e.g. macro view, top-down shot, slow-motion).\n\nEach scene must contain all of the following, expressed through detailed visual language:\n\n✅ The kinetic sand (from the Idea)\n✅ The environment or surface (from the Environment)\n✅ The texture, structure, and behavior of the sand as it's being manipulated\n✅ A visible tool (knife, scoop, mold) actively interacting with the sand\n\nDescriptions should show:\n\nThe physical makeup of the sand — is it layered with different colors, sparkly, smooth, or matte? Emphasize its granular, yet cohesive structure.\nHow the sand responds to the tool — clean slicing, soft crumbling, perfect imprints, satisfying deformation, or a cascading collapse.\nThe interaction between the tool and the sand — sand grains momentarily sticking to the tool, the smooth surface left behind, the crisp edges of a cut.\nAny ASMR-relevant sensory cues like the satisfying crunch, the soft hiss of falling grains, or the shimmer of glitter, but always shown visually — not narrated.\n\nTone:\n\nSatisfying, mesmerizing, tactile.\nNo poetic metaphors, emotion, or storytelling.\nAvoid fantasy or surreal imagery.\nAll description must feel physically grounded and visually appealing.\n\nLength:\n\nEach scene must be between 1,000 and 2,000 characters.\nNo shallow or repetitive scenes — each must be immersive, descriptive, and specific.\nEach scene should explore a distinct phase of the action, a different camera perspective, or a new behavior of the sand.\n\nInputs:\n\nIdea: \"{{ $json.idea }}\"\nEnvironment: \"{{ $json.environment_prompt }}\"\nSound: \"{{ $json.sound_prompt }}\"\n\nFormat:\n\nIdea: \"...\"\nEnvironment: \"...\"\nSound: \"...\"\n\nScene 1: \"...\"\nScene 2: \"...\"\nScene 3: \"...\"\n(and so on)"}},"id":"51fdeeb3-66e3-4826-82ce-740356a9a1e1","name":"Prompts AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[2544,192],"typeVersion":1.9},{"parameters":{"jsonSchemaExample":"[\n  {\n    \"Caption\": \"Diver Removes Nets Off Whale 🐋 #whalerescue #marinelife #oceanrescue #seahelpers #love #nature #instagood #explore #viral #savenature #oceanguardians #cleanoceans\",\n    \"Idea\": \"Diver carefully cuts tangled net from distressed whale in open sea\",\n    \"Environment\": \"Open ocean, sunlight beams through water, diver and whale, cinematic realism\",\n    \"Sound\": \"Primary sound description under 15 words\",\n    \"Status\": \"for production\"\n  }\n]\n"},"id":"3b795b38-fd78-4fc9-967e-c0f85b6528be","name":"Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[2208,416],"typeVersion":1.2},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"id":"c01888ea-0770-4b70-ab77-fc907cc639f8","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[1328,192],"typeVersion":1.2},{"parameters":{"jsonSchemaExample":"{\n  \"Idea\": \"An obsidian rock being sliced with a shimmering knife\",\n  \"Environment\": \"Clean studio table, subtle light reflections\",\n  \"Sound\": \"Crisp slicing, deep grinding, and delicate crumbling\",\n  \"Scene 1\": \"Extreme macro shot: a razor-sharp, polished knife blade presses into the dark, granular surface of an obsidian rock, just beginning to indent.\",\n  \"Scene 2\": \"Close-up: fine, iridescent dust particles erupt from the point of contact as the blade cuts deeper into the obsidian, catching the studio light.\",\n  \"Scene 3\": \"Mid-shot: the knife, held perfectly steady, has formed a shallow, clean groove across the obsidian's shimmering surface, revealing a new, smooth texture.\"\n}"},"id":"20042964-098b-4e31-b57d-8e1798f17510","name":"Parser2","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[2736,416],"typeVersion":1.2},{"parameters":{"method":"POST","url":"https://api.wavespeed.ai/api/v3/bytedance/seedance-v1-lite-t2v-480p","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"aspect_ratio\": \"9:16\",\n  \"duration\": 10,\n  \"prompt\": \"VIDEO THEME: {{ $('Prompts AI Agent').item.json.output.Idea }} | WHAT HAPPENS IN THE VIDEO: {{ $json.description }} | WHERE THE VIDEO IS SHOT: {{ $('Prompts AI Agent').item.json.output.Environment }}\"\n}\n","options":{"batching":{"batch":{"batchSize":1,"batchInterval":3000}}}},"id":"126250a3-87d6-4eb9-bc37-5207225a4059","name":"Create Clips","type":"n8n-nodes-base.httpRequest","position":[3088,192],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"GLikYLMQCMZy3yy5","name":"Header Auth wavespeed"}}},{"parameters":{"amount":120},"id":"a592e859-3a2f-441d-8952-7fb998932fe8","name":"Wait for Clips","type":"n8n-nodes-base.wait","position":[3312,192],"typeVersion":1.1,"webhookId":"b393853c-99da-4af1-9919-8ad116ec669d"},{"parameters":{"url":"=https://api.wavespeed.ai/api/v3/predictions/{{ $json.data.id }}/result","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"2d73f22d-7981-4551-97b4-14734b7b1fdc","name":"Get Clips","type":"n8n-nodes-base.httpRequest","position":[3616,192],"typeVersion":4.2},{"parameters":{"url":"={{ $('Get Final Video').item.json.video_url }}","options":{"response":{"response":{}}}},"id":"16d1d016-db88-4272-b3dd-dd43b13d847e","name":"Download Final Video","type":"n8n-nodes-base.httpRequest","position":[3952,800],"typeVersion":4.2},{"parameters":{"resource":"video","operation":"upload","title":"=AI ASMR : {{ $('Update Final Video to Sheet').item.json.idea }}","options":{"description":"=AI-Generated Video Idea: {{ $('Update Final Video to Sheet').item.json.idea }}\n\nThis video was created automatically using our automated workflow #asmrai #asmr #n8n","notifySubscribers":true,"privacyStatus":"public","tags":"=asmr, viral, asmrai, n8n, automation"}},"id":"1c197242-443f-485a-8e2a-c6eb21e5713d","name":"Upload to YouTube","type":"n8n-nodes-base.youTube","position":[4144,800],"typeVersion":1},{"parameters":{"chatId":"YOUR_CHAT_ID","text":"=✅ Your new video is ready!  **Title:** {{ $('Update Final Video to Sheet').item.json.idea }}  \nWatch it here: \nhttps://www.youtube.com/watch?v={{ $('Upload to YouTube').item.json.id }}","additionalFields":{"parse_mode":"HTML"}},"id":"72340d2a-66ba-4a1e-9087-76bd32257579","name":"Telegram Notification","type":"n8n-nodes-base.telegram","position":[4432,800],"typeVersion":1.2,"webhookId":"984aed97-e3be-4852-9459-116dd170f735"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1"},"options":{}},"id":"95488017-c4e9-4dde-a97f-7863d04042e1","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1632,400],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"ybKWjgaznJsUQAHd","name":"OpenAi account"}}},{"parameters":{"sendTo":"your-email@gmail.com","subject":"✅ Your new video is ready!","message":"=✅ Your new video is ready!  **Title:** {{ $('Update Final Video to Sheet').item.json.idea }}  Watch it here: https://www.youtube.com/watch?v={{ $('Upload to YouTube').item.json.id }}","options":{"senderName":"Bilsimaging -n8n Automation"}},"id":"06435bca-0306-47d3-a0fc-85363cb702f6","name":"Gmail Notification","type":"n8n-nodes-base.gmail","position":[4432,976],"typeVersion":2.1,"webhookId":"e1143804-c503-4c24-b96d-90fd9e4c36d0"},{"parameters":{"promptType":"define","text":"Generate one short, trendy, and viral ASMR video idea. Describe the core concept in less than 10 words. Do not explain it, just state the idea.","hasOutputParser":true,"options":{"systemMessage":"You are an AI that specializes in identifying viral trends on platforms like TikTok and YouTube Shorts. Your job is to brainstorm a single, simple, and satisfying ASMR video concept. You must only return the idea as a single line of plain text. Do not add any extra words, formatting, or explanation."}},"id":"0bb31690-f2e1-4582-8936-05c1b3101110","name":"1. Generate Trendy Idea","type":"@n8n/n8n-nodes-langchain.agent","position":[1632,192],"typeVersion":1.9},{"parameters":{"content":"### Step 1: AI Brainstorms an Idea\nThis workflow starts with a Schedule Trigger. The first AI agent generates a simple, trendy ASMR concept. The second agent expands this into a full production plan (caption, environment, etc.).","height":180,"width":940,"color":3},"id":"d8313496-2d0a-4d24-99ec-cdb4e9f687c6","name":"Note: AI Ideation","type":"n8n-nodes-base.stickyNote","position":[1344,-32],"typeVersion":1},{"parameters":{"content":"### Step 2: Scene Generation & Video Creation\nThe plan is used to generate detailed scene descriptions. Then, we call the Wavespeed AI (Seedance) and Fal AI APIs to create the video clips and sound effects in parallel.","height":180,"width":600,"color":3},"id":"15152fa7-01a2-44da-a091-56793586fab5","name":"Note: Asset Generation","type":"n8n-nodes-base.stickyNote","position":[2384,-32],"typeVersion":1},{"parameters":{"content":"### Step 3: Final Assembly\nThe video clips are stitched together.","height":180,"width":660,"color":3},"id":"06cacf3e-b0d3-4014-8c22-b090d2a7d269","name":"Note: Final Assembly","type":"n8n-nodes-base.stickyNote","position":[3088,-32],"typeVersion":1},{"parameters":{"content":"### Step 4: Distribution & Logging\nThe final video is uploaded to YouTube, the Google Sheet is updated, and notifications are sent.","height":180,"width":960,"color":3},"id":"5617f0ad-d8bc-46e1-8670-4bf03d785ff5","name":"Note: Distribution","type":"n8n-nodes-base.stickyNote","position":[3872,-32],"typeVersion":1},{"parameters":{"content":"//ASMR AI Workflow By Bilsimaging.com\n### How It Works\n\nThis workflow is a fully autonomous content factory that creates and publishes satisfying ASMR-style YouTube Shorts without any human intervention. It's a powerful example of chaining multiple AI services together to generate unique media.\n\nThe process runs in four main stages:\n\n1.  **AI Ideation:** A schedule trigger kicks off the workflow. The first AI agent brainstorms a simple, trendy ASMR concept. A second agent then enriches this concept into a detailed JSON production plan, including a viral-style caption, environment description, and sound profile.\n\n2.  **Asset Generation:** The workflow generates detailed scene-by-scene prompts. It then calls the ByteDance Seedance API (via Wavespeed) to create the video clips and the Fal AI API to generate corresponding sound effects.\n\n3.  **Final Assembly:** The clips are sequenced into a final video. \n\n4.  **Distribution & Logging:** The final video is downloaded, uploaded to a designated YouTube channel, the original row in a Google Sheet is updated with the new YouTube link and a \"Done\" status, and notifications are sent via Telegram and Gmail.\n\n### Set Up Steps\n\nThis is an advanced workflow that requires several credentials. \n\nYou will need to create credentials for the following services:\n\n*   **OpenAI:** For the AI agents.\n*   **Wavespeed AI:** For the Seedance video model.\n*   **Fal AI:** For sound generation and video sequencing.\n*   **Google OAuth:** For both the Google Sheets and YouTube nodes. You will need to enable the Google Sheets API and YouTube Data API v3 in your Google Cloud project.\n*   **Telegram Bot:** For the final notification.\n*   **Gmail (Optional):** If you want email notifications.\n\nYou will also need to create a **Google Sheet** to log the ideas and final outputs. A template can be easily created with columns for `id`, `idea`, `caption`, `production_status`, `environment_prompt`, `sound_prompt`, `final_output`, and `youtube_url`.\n\n### Features\n\n*   **Fully Autonomous Content Creation:** Runs on a schedule to generate and publish content without any manual input.\n*   **Two-Stage AI Ideation:** Uses a \"creative\" AI and a \"planning\" AI to produce more dynamic and well-structured ideas.\n*   **Multi-Modal AI:** Chains together text-to-text, text-to-video, and text-to-audio models in a single, cohesive flow.\n*   **Closed-Loop System:** Logs the initial idea to a Google Sheet and updates the *same row* with the final links and status, creating a perfect production log.\n*   **Spreadsheet as a CMS:** Manage your entire content pipeline from a simple Google Sheet.\n*   **Real-time Notifications:** Get immediate alerts on Telegram or Gmail as soon as a new video is live.\n\n### Pro-Tips & How to Handle APIs\n\n*   **API Rate Limits:** If you run the workflow very frequently, some APIs might temporarily block you. To avoid this, you can adjust the **Schedule Trigger** to run less often (e.g., every 30 minutes instead of every 10). For more advanced control, you can add a `batchInterval` in the settings of the HTTP Request nodes.\n\n\n*   **Cost Management:** Remember that AI API calls cost money. It is highly recommended to set up **budget alerts** in your OpenAI, Fal AI, and Wavespeed AI account dashboards to avoid any surprise bills.\n\n*   **Customization:** The creative core of this workflow is in the **Prompts AI Agent** and **Enrich Idea into Plan** nodes. To change the style, tone, or type of videos created, simply edit the `systemMessage` in the options of these nodes.\n\nFor any help or tips on handling the APIs, don't hesitate to contact me at **bilsimaging@gmail.com**.","height":1240,"width":1320},"id":"5fec44c2-6581-40f7-866a-3303bcf2d72b","name":"SUBMISSION GUIDE","type":"n8n-nodes-base.stickyNote","position":[-176,-32],"typeVersion":1},{"parameters":{"promptType":"define","text":"=Take the following trendy ASMR idea and expand it into a full production plan using your required JSON format. Use the examples below for inspiration on how to format the \"Idea\" field.\n\nThe short ASMR idea is:\n[[\n{{ $json.output }}\n]]\n\nHave your final expanded \"Idea\" field be in this format: \"(color/style) (object) being (action)\". \nExamples for your inspiration: layered rainbow kinetic sand being sliced, sparkly purple soap being scooped, neon green slime being pressed.\n\nUse the Think tool to review your output.","hasOutputParser":true,"options":{"systemMessage":"=**Role**: You are an AI designed to generate 1 immersive, satisfying idea based on a user-provided topic. Your output must be formatted as a JSON array (single line) and follow all the rules below exactly.\n\n***\nRULES:\n\nOnly return 1 idea at a time.\n\nThe user will provide a key topic (e.g. \"kinetic sand slicing,\" \"satisfying sand scooping,\" \"ASMR sand sounds\").\n\nThe Idea must:\n\nBe under 13 words.\n\nDescribe an interesting and viral-worthy moment, action, or event related to the provided topic.\n\nThe Caption must be:\n\nShort, punchy, and viral-friendly.\n\nInclude one relevant emoji.\n\nInclude exactly 12 hashtags in this order:\n** 4 topic-relevant hashtags\n** 4 all-time most popular hashtags\n** 4 currently trending hashtags\n\nAll hashtags must be lowercase.\n\nSet Status to \"for production\" (always).\n\nThe Environment must:\n\nBe under 20 words.\n\nMatch the action in the Idea exactly.\n\nClearly describe:\n\nWhere the event is happening (e.g. minimalist white surface, clean studio table)\nKey visuals or background details (e.g. bright lighting, subtle glitter)\nStyle of scene (e.g. macro close-up, cinematic slow-motion)\n\nThe Sound must:\n\nBe under 15 words.\n\nDescribe the primary sound that makes sense to happen in the video. This will be fed to a sound model later on.\n\n\n***\nOUTPUT FORMAT (single-line JSON array):\n\n[\n  {\n    \"Caption\": \"That crunch! 🤤 #kineticsand #satisfyingvideos #asmrsand #sand #oddlysatisfying #viral #fyp #explore #trending #tiktok #diy #crafts\",\n    \"Idea\": \"Slicing through a block of layered rainbow kinetic sand\",\n    \"Environment\": \"Macro close-up on a clean, bright white surface, cinematic slow-motion\",\n    \"Sound\": \"Crisp, crunchy slicing sounds with a soft, gentle hiss\",\n    \"Status\": \"for production\"\n  }\n]"}},"id":"efc7acad-0724-45ab-af0c-eb2e543d3121","name":"2. Enrich Idea into Plan","type":"@n8n/n8n-nodes-langchain.agent","position":[2032,192],"typeVersion":1.9},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID"},"sheetName":{"__rl":true,"value":"YOUR_SHEET_NAME"},"columns":{"value":{"idea":"={{ $json.output[0].Idea }}","caption":"={{ $json.output[0].Caption }}","production":"In Progress","sound_prompt":"={{ $json.output[0].Sound }}","environment_prompt":"={{ $json.output[0].Environment }}"},"mappingMode":"defineBelow"},"options":{}},"id":"1c060094-82ad-4e3f-a4f7-7c2d3e9fbce1","name":"3. Log New Idea to Sheet","type":"n8n-nodes-base.googleSheets","position":[2384,192],"typeVersion":4.5},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID"},"sheetName":{"__rl":true,"value":"YOUR_SHEET_NAME"},"columns":{"value":{"production":"Done","youtube_url":"=","final_output":"={{ $json.video_url }}"},"mappingMode":"defineBelow"},"options":{}},"id":"82c62fcc-3ad8-4c62-9ae6-b8330ae11620","name":"Update Final Video to Sheet","type":"n8n-nodes-base.googleSheets","position":[3952,608],"typeVersion":4.5},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID"},"sheetName":{"__rl":true,"value":"YOUR_SHEET_NAME"},"columns":{"value":{"youtube_url":"=https://www.youtube.com/watch?v={{ $('Upload to YouTube').item.json.id }}"},"mappingMode":"defineBelow"},"options":{}},"id":"268b062d-cf2d-40af-a1f5-f74e1d3abdfa","name":"Update Sheet with Youtube Link","type":"n8n-nodes-base.googleSheets","position":[4432,608],"typeVersion":4.5}],"connections":{"Think":{"ai_tool":[[{"node":"2. Enrich Idea into Plan","type":"ai_tool","index":0},{"node":"Prompts AI Agent","type":"ai_tool","index":0}]]},"Parser":{"ai_outputParser":[[{"node":"2. Enrich Idea into Plan","type":"ai_outputParser","index":0}]]},"Parser2":{"ai_outputParser":[[{"node":"Prompts AI Agent","type":"ai_outputParser","index":0}]]},"Get Clips":{"main":[[{"node":"Create Sounds","type":"main","index":0}]]},"Get Sounds":{"main":[[{"node":"List Elements","type":"main","index":0}]]},"Create Clips":{"main":[[{"node":"Wait for Clips","type":"main","index":0}]]},"Create Sounds":{"main":[[{"node":"Wait for Sounds","type":"main","index":0}]]},"List Elements":{"main":[[{"node":"Sequence Video","type":"main","index":0}]]},"Sequence Video":{"main":[[{"node":"Wait for Final Video","type":"main","index":0}]]},"Wait for Clips":{"main":[[{"node":"Get Clips","type":"main","index":0}]]},"Get Final Video":{"main":[[{"node":"Update Final Video to Sheet","type":"main","index":0}]]},"Wait for Sounds":{"main":[[{"node":"Get Sounds","type":"main","index":0}]]},"Prompts AI Agent":{"main":[[{"node":"Unbundle Prompts","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"1. Generate Trendy Idea","type":"main","index":0}]]},"Unbundle Prompts":{"main":[[{"node":"Create Clips","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"2. Enrich Idea into Plan","type":"ai_languageModel","index":0},{"node":"Prompts AI Agent","type":"ai_languageModel","index":0}]]},"Upload to YouTube":{"main":[[{"node":"Gmail Notification","type":"main","index":0},{"node":"Telegram Notification","type":"main","index":0},{"node":"Update Sheet with Youtube Link","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"1. Generate Trendy Idea","type":"ai_languageModel","index":0}]]},"Download Final Video":{"main":[[{"node":"Upload to YouTube","type":"main","index":0}]]},"Wait for Final Video":{"main":[[{"node":"Get Final Video","type":"main","index":0}]]},"1. Generate Trendy Idea":{"main":[[{"node":"2. Enrich Idea into Plan","type":"main","index":0}]]},"2. Enrich Idea into Plan":{"main":[[{"node":"3. Log New Idea to Sheet","type":"main","index":0}]]},"3. Log New Idea to Sheet":{"main":[[{"node":"Prompts AI Agent","type":"main","index":0}]]},"Update Final Video to Sheet":{"main":[[{"node":"Download Final Video","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"bb8ce39d-8907-4891-91bf-6eae8125d718","triggerCount":0,"shared":[{"createdAt":"2025-09-29T20:07:02.006Z","updatedAt":"2025-09-29T20:07:02.006Z","role":"workflow:owner","workflowId":"zNkXs8wzMdaRUKux","projectId":"LHEmgw1As9k75i72"}],"tags":[]}