workflows/Automatically Label Gmail Emails with GPT-5 Classification.json
{"createdAt":"2025-09-28T19:42:53.217Z","updatedAt":"2025-09-28T19:43:57.000Z","id":"d91uciNMeowzJutm","name":"Automatically Label Gmail Emails with GPT-5 Classification","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{}},"id":"ad73b770-0c93-420b-ba43-ce7c7cd175a6","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","position":[864,1072],"typeVersion":1.3,"credentials":{"gmailOAuth2":{"id":"7OIzBY76qfbg5TPa","name":"Gmail account"}}},{"parameters":{"inputText":"={{ $json.text }}","categories":{"categories":[{"category":"High Priority","description":"Emails that require immediate attention or quick response, often from executives, key clients, or internal stakeholders. These usually involve time-sensitive issues, deadlines, or escalations. Keywords/phrases to look for: “urgent,” “ASAP,” “immediate response,” “deadline,” “critical,” “important matter.”"},{"category":"Promotion","description":"Emails related to marketing campaigns, sales offers, product launches, or event invitations. Typically sent in bulk and often contain discounts, new features, or company news. Keywords/phrases to look for: “special offer,” “discount,” “limited time,” “new product,” “webinar,” “sale,” “exclusive invite.”"},{"category":"Finance/Billing","description":"Emails dealing with payments, invoices, receipts, or financial records. May come from vendors, clients, or internal finance teams. Usually involve transactions, balances, or account updates. Keywords/phrases to look for: “invoice,” “payment due,” “billing,” “receipt,” “account statement,” “refund,” “transaction.”"},{"category":"Customer Support","description":"Emails from customers seeking help, troubleshooting, or service requests. Often include questions, complaints, or technical issues that require a response or resolution. Keywords/phrases to look for: “issue,” “not working,” “help,” “support needed,” “error,” “problem with,” “can you fix.”"}]},"options":{}},"id":"17673b26-3ee1-4fc4-a1df-ad893ef30a88","name":"Text Classifier","type":"@n8n/n8n-nodes-langchain.textClassifier","position":[1088,1072],"typeVersion":1.1},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5","cachedResultName":"gpt-5"},"options":{}},"id":"0d220d74-90e3-4b14-8f85-8a4197772bef","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1168,1360],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"ybKWjgaznJsUQAHd","name":"OpenAi account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_2050230922550608961"]},"id":"a324946e-f95f-45c4-ada9-2c7dcf3005b2","name":"High Priority","type":"n8n-nodes-base.gmail","position":[1440,784],"webhookId":"2ac56052-19d7-4e91-a7db-855e99c0b996","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"7OIzBY76qfbg5TPa","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_4137435394166770583","CATEGORY_PROMOTIONS"]},"id":"6e6d340b-49f1-48f4-ab5c-be25933066d4","name":"Promotion","type":"n8n-nodes-base.gmail","position":[1440,976],"webhookId":"2ac56052-19d7-4e91-a7db-855e99c0b996","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"7OIzBY76qfbg5TPa","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_123317652592217245"]},"id":"5379c870-27b6-4a66-ad21-22ebb3223823","name":"Finance/Billings","type":"n8n-nodes-base.gmail","position":[1440,1168],"webhookId":"2ac56052-19d7-4e91-a7db-855e99c0b996","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"7OIzBY76qfbg5TPa","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_3866679317291552912"]},"id":"d0d5f388-7715-48e1-adc4-29b58ac0de28","name":"Customer Support","type":"n8n-nodes-base.gmail","position":[1440,1360],"webhookId":"2ac56052-19d7-4e91-a7db-855e99c0b996","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"7OIzBY76qfbg5TPa","name":"Gmail account"}}},{"parameters":{"content":"# Smart Gmail inbox organization with OpenAI classification\n\n## Who's it for\nThis template is perfect for busy professionals, customer service teams, and small business owners who receive high volumes of email and struggle to keep their Gmail inbox organized. If you're spending too much time manually sorting emails or missing important messages in the clutter, this AI-powered solution will transform your email management.\n\n## How it works\nThis workflow automatically monitors your Gmail inbox and uses OpenAI's GPT model to intelligently classify incoming emails into four key categories:\n - High Priority - Urgent emails requiring immediate attention from executives, clients, or stakeholders\n - Promotion - Marketing emails, sales offers, product launches, and event invitations\n - Finance/Billing - Invoices, receipts, payment notifications, and financial records\n - Customer Support - Help requests, troubleshooting queries, and service-related issues\n  \nOnce classified, emails are automatically labeled in Gmail using the appropriate tags, making it easy to filter, search, and prioritize your communications.\n\n## How to set up\n### Requirements\n - Gmail account with OAuth2 access enabled\n - OpenAI API key with GPT model access\n - Custom Gmail labels created for each category\n\n### Step-by-step setup\n 1. Create Gmail Labels\n  - In Gmail, create these labels: \"High Priority\", \"Promotion\", \"Finance/Billing\", \"Customer Support\"\n  - Note the label IDs (you'll need to replace the hardcoded ones in the workflow)\n 2. Configure Credentials\n  - Add your Gmail OAuth2 credentials in n8n\n  - Add your OpenAI API credentials\n 3. Update Label IDs\n  - Replace the hardcoded label IDs in each Gmail node with your actual label IDs\n  - You can find label IDs by testing the Gmail node or using Gmail API\n 4. Adjust Classification Rules\n  - Review the Text Classifier categories and modify descriptions to match your specific needs\n  - Add or remove categories as required\n 5. Set Polling Frequency\n  - The workflow is set to check every minute - adjust based on your email volume\n\n\n## How to customize the workflow\n### Modify Categories\n - Edit the Text Classifier node to add/remove email categories\n - Update category descriptions to better match your business context\n - Add corresponding Gmail nodes for new categories\n\n### Change AI Model\n - Switch from GPT-5 to GPT-4 or GPT-3.5-turbo based on your needs and budget\n - Adjust the model parameters in the OpenAI Chat Model node\n\n### Add Actions Beyond Labeling\n  - **Star important** emails by adding a Gmail \"star\" action for high priority items\n  - **Forward to team members** using additional Gmail send nodes\n  - **Create calendar events**  from meeting requests using Google Calendar integration\n  - **Log to spreadsheet**  for email analytics using Google Sheets\n\n### Advanced Filtering\n  - Add Gmail filter conditions to the trigger (sender, subject patterns, etc.)\n  - Include/exclude specific email addresses or domains\n  - Set up different polling schedules for different email types\n\n### Notification Options\n  - Add Slack notifications for high priority emails\n  - Send SMS alerts using Twilio for critical messages\n  - Create tickets in your support system for customer inquiries\n\n### Security considerations\n  - Never hardcode API keys in the workflow - always use n8n's credential system\n  - Review OpenAI's data usage policies for email content processing\n  - Consider data retention policies for processed email content\n  - Test thoroughly with non-sensitive emails first\n\n### Troubleshooting tips\n  - Classification accuracy: Fine-tune category descriptions if emails are being misclassified\n  - Rate limits: Monitor OpenAI API usage to avoid hitting rate limits with high email volumes\n  - Gmail quotas: Be aware of Gmail API quotas when processing large volumes\n  - Label sync: Allow time for Gmail labels to sync across devices and clients\n","height":2064,"width":1520},"id":"efbe7f12-26a5-4ab0-9286-ed7700fe6bc2","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[192,-80],"typeVersion":1}],"connections":{"Gmail Trigger":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"High Priority","type":"main","index":0}],[{"node":"Promotion","type":"main","index":0}],[{"node":"Finance/Billings","type":"main","index":0}],[{"node":"Customer Support","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"530de4a8-a418-4af7-be2a-578c7b6977eb","triggerCount":0,"shared":[{"createdAt":"2025-09-28T19:42:53.220Z","updatedAt":"2025-09-28T19:42:53.220Z","role":"workflow:owner","workflowId":"d91uciNMeowzJutm","projectId":"LHEmgw1As9k75i72"}],"tags":[]}