workflows/Automate Gmail Email Triage with Eisenhower Matrix and GPT-4.1-mini.json
{"createdAt":"2025-09-28T19:26:45.353Z","updatedAt":"2025-10-02T12:47:07.000Z","id":"48VYsKLFiuDLPbh4","name":"Automate Gmail Email Triage with Eisenhower Matrix and GPT-4.1-mini","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"# ⚙️ INITIAL SETUP GUIDE\n\n## STEP 1: Create Gmail Labels\nGo to Gmail and create these 4 labels:\n- `Urgent + Important`\n- `Not Urgent + Important`\n- `Urgent + Not Important`\n- `Not Urgent + Not Important`\n\n## STEP 2: Get Your Label IDs\n1. Create temporary Gmail node\n2. Set operation to **Get All Labels**\n3. Execute to see your label IDs\n4. Copy each label ID\n5. Replace IDs in Gmail nodes\n\n## STEP 3: Add Credentials\n**Gmail OAuth2:**\n- Click any Gmail node\n- Create new credential\n- Follow OAuth2 flow\n\n**OpenAI API:**\n- Get key from platform.openai.com\n- Add to OpenAI node\n\n## STEP 4: Test First\n- Use Manual Trigger\n- Process 5-10 emails\n- Verify accuracy\n- Then activate","height":956,"width":336,"color":2},"id":"124e3c8c-dcff-4614-9053-974c0f49a39e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-416,512],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{}},"id":"c103ceec-7a86-4901-b03c-67fa811b4cf5","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","position":[416,672],"typeVersion":1.3,"credentials":{"gmailOAuth2":{"id":"7OIzBY76qfbg5TPa","name":"Gmail account"}}},{"parameters":{"inputText":"={{ $json.Mybody }}","categories":{"categories":[{"category":"Urgent + Important","description":"Emails requiring immediate action due to high impact. Not addressing them could have serious consequences. Includes legal matters, critical financial issues, investor communications, regulatory compliance, or user problems blocking service usage."},{"category":"Not Urgent + Important","description":"Messages with high strategic value but no immediate deadline. Includes partnership opportunities, negotiations, relevant invitations, and key coordination that can be scheduled thoughtfully."},{"category":"Urgent + Not Important","description":"Emails needing quick attention but not requiring your direct involvement. Operational or technical matters that can be delegated to another person or team without affecting strategic objectives."},{"category":"Not Urgent + Not Important","description":"Emails with no immediate or strategic value. Includes promotions, spam, test, or generic messages that distract and can be ignored, deleted, or batch-reviewed later. or any other messages that do not apply to the other 3 categories"}]},"options":{"systemPromptTemplate":"You are an expert email prioritization assistant. Classify the email based on the Eisenhower Matrix principles. Consider sender importance, content urgency, business impact, and deadline implications. Output only the category in JSON format without explanation."}},"id":"5d8cb559-1736-4a8e-a712-441d65055ba8","name":"AI Email Classifier","type":"@n8n/n8n-nodes-langchain.textClassifier","position":[1312,800],"typeVersion":1.1},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini","cachedResultName":"gpt-4.1-mini"},"options":{}},"id":"eda6521e-b2f6-4251-8389-6b54a0acb286","name":"OpenAI GPT-4","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1312,1088],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"ybKWjgaznJsUQAHd","name":"OpenAi account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.MyId }}","labelIds":["Label_8221939991548453500"]},"id":"f8cbf4f1-9596-4b9a-a109-1b5ee9b2d38d","name":"Label: Not Urgent + Important","type":"n8n-nodes-base.gmail","position":[1664,704],"webhookId":"1004a7e9-b2fb-41f6-abbb-3d0f7989b12c","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"7OIzBY76qfbg5TPa","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.MyId }}","labelIds":["Label_47687722914584941"]},"id":"32319466-3b24-494c-b6af-0b83ada2697c","name":"Label: Urgent + Important","type":"n8n-nodes-base.gmail","position":[1664,512],"webhookId":"226c3439-cf11-406d-9369-cbdc5d56bd69","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"7OIzBY76qfbg5TPa","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.MyId }}","labelIds":["Label_1502587305095082501"]},"id":"a66e2fc3-e251-4ea3-b4aa-048e16efcbf3","name":"Label: Urgent + Not Important","type":"n8n-nodes-base.gmail","position":[1664,896],"webhookId":"7dcbf4d7-d400-4535-a867-a581fde2595c","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"7OIzBY76qfbg5TPa","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.MyId }}","labelIds":["Label_6572351967787649343"]},"id":"a7df8aef-d795-4024-9d64-99f4de6a0278","name":"Label: Not Urgent + Not Important","type":"n8n-nodes-base.gmail","position":[1664,1088],"webhookId":"f04eabdf-4db0-4de9-ae25-b22f78b229fe","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"7OIzBY76qfbg5TPa","name":"Gmail account"}}},{"parameters":{"operation":"removeLabels","messageId":"={{ $json.id }}","labelIds":["INBOX","CATEGORY_PERSONAL","CATEGORY_FORUMS","CATEGORY_PROMOTIONS","CATEGORY_SOCIAL","CATEGORY_UPDATES"]},"id":"99fa56ca-6aba-40b7-8f10-b7d15192a6fd","name":"Archive Email","type":"n8n-nodes-base.gmail","position":[1888,1088],"webhookId":"ab56d3b1-f368-47f0-bbe1-7171ab7de394","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"7OIzBY76qfbg5TPa","name":"Gmail account"}}},{"parameters":{},"id":"3adccf2d-d6dd-4ab9-a33e-f1caadf719d1","name":"Manual Test Trigger","type":"n8n-nodes-base.manualTrigger","position":[-144,1552],"typeVersion":1},{"parameters":{"operation":"getAll","limit":5,"simple":false,"filters":{"labelIds":["INBOX"],"readStatus":"unread"},"options":{}},"id":"79137513-19c8-4b40-87a6-ca33cc2d15d9","name":"Batch Process Emails","type":"n8n-nodes-base.gmail","position":[48,1552],"webhookId":"29d04f95-7070-4786-8f36-d2a5cca8706b","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"7OIzBY76qfbg5TPa","name":"Gmail account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"af426b69-affb-4fe6-a375-f5a711f553d3","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.Mybody }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"c41b4ec6-bcf1-41ed-b943-7ab1c571df9d","name":"Filter Valid Emails","type":"n8n-nodes-base.filter","position":[448,1552],"typeVersion":2.2},{"parameters":{"content":"# 📥 AUTOMATIC EMAIL DETECTION\n\nGmail Trigger checks inbox every minute.\n\n## Current Settings:\n- **Polling**: Every 60 seconds\n- **Looks for**: New unread emails\n- **Processes**: One at a time\n\n## Optimization Tips:\n- **High volume**: Keep 1 minute\n- **Medium (20-50/day)**: 5 minutes\n- **Low (<20/day)**: 15 minutes\n\n💡 **Note**: Each execution uses API calls.","height":480,"width":352},"id":"af58f5a1-1cf8-4dbc-9b59-33d44bafa38f","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,656],"typeVersion":1},{"parameters":{"content":"# 📧 EISENHOWER MATRIX EMAIL AUTOMATION\n\nThis workflow automatically categorizes your Gmail emails using the Eisenhower Matrix productivity framework.\n\n## THE FOUR QUADRANTS:\n- **🔴 Urgent + Important (DO NOW)**: Crisis, deadlines, emergencies\n- **🟢 Not Urgent + Important (SCHEDULE)**: Planning, relationships, growth\n- **🟡 Urgent + Not Important (DELEGATE)**: Interruptions, some emails\n- **⚫ Not Urgent + Not Important (DELETE)**: Spam, time wasters\n\n## HOW IT WORKS:\n1. New emails trigger the workflow\n2. AI analyzes content and context\n3. Emails get labeled automatically\n4. Low-priority emails are archived\n\n## REQUIREMENTS:\n- Gmail account with OAuth2\n- OpenAI API key (GPT-4)\n- Four Gmail labels created","height":592,"width":880},"id":"c9941aa3-3b97-4111-b01e-e223954f7ce5","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"# 🤖 AI CLASSIFICATION ENGINE\n\n## Analyzes:\n- Email content\n- Sender importance\n- Urgency keywords\n- Business impact\n- Deadlines\n\n## EXAMPLES:\n\n### 🔴 Urgent + Important:\n- Legal notice requiring response\n- Server down affecting customers\n- Investor meeting tomorrow\n- Compliance audit deadline\n\n### 🟢 Not Urgent + Important:\n- Q2 strategic planning\n- Partnership opportunity\n- Team development program\n- Annual review prep\n\n### 🟡 Urgent + Not Important:\n- Approve expense report\n- Meeting rescheduled\n- Update password reminder\n- Office supplies order\n\n### ⚫ Not Urgent + Not Important:\n- Newsletters\n- Promotions\n- Social notifications\n- Marketing emails","height":944,"width":416},"id":"4e4fb8fa-40ff-439f-be97-9b92479359dc","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[576,1248],"typeVersion":1},{"parameters":{"content":"# 🏷️ GMAIL LABELING SYSTEM\n\n⚠️ **IMPORTANT: Replace Label IDs!**\nEach Gmail has unique IDs.\nYou MUST update them.\n\n## How Categories Are Handled:\n\n### 🔴 Urgent + Important:\n- Gets red label\n- Stays in inbox\n- Consider notifications\n\n### 🟢 Not Urgent + Important:\n- Gets green label\n- Stays in inbox\n- Review in planning time\n\n### 🟡 Urgent + Not Important:\n- Gets yellow label\n- Stays in inbox\n- Delegate or quick reply\n\n### ⚫ Not Urgent + Not Important:\n- Gets gray label\n- Auto-archived\n- Bulk review later\n\n**Pro Tip**: Create Gmail filters to show labels in sidebar.","height":752,"width":624},"id":"73f44543-612d-4dfa-80f8-12ab80866a07","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1280,272],"typeVersion":1},{"parameters":{"content":"# 🗄️ AUTO-ARCHIVE FEATURE\n\nOnly **Not Urgent + Not Important** emails get archived!\n\n## What Archiving Does:\n✅ Removes from inbox\n✅ Keeps classification label\n✅ Email remains searchable\n✅ Can access anytime\n\n## Labels Being Removed:\n- INBOX (archives it)\n- All category labels\n- Keeps custom label\n\n## Why This Matters:\n**Reduces inbox noise by 40-60%**\nLets you focus on what matters.","height":496,"width":560},"id":"704f77eb-7529-4331-a198-64fc82a7a3d5","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1248,1264],"typeVersion":1},{"parameters":{"content":"# 🧪 MANUAL BATCH PROCESSING\n\n## When to Use:\n- Initial setup testing\n- After vacation catch-up\n- Processing backlog\n- Testing accuracy\n\n## How It Works:\n1. Click **Execute Workflow**\n2. Fetches 100 unread emails\n3. Filters valid emails\n4. Processes through AI\n5. Applies labels at once\n\n## ⚠️ START SMALL!\n- **First test**: Set limit to 10\n- Check classifications\n- Adjust if needed\n- Then increase to 100\n\n## 💰 Cost Note:\n100 emails = $0.10-0.30\ndepending on length.","height":720,"width":512},"id":"676a0c3b-17a1-4913-9b44-66bf73228108","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-144,1728],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"a94572d3-c1c8-4593-b0a0-868840e58f5e","name":"Mybody","value":"={{ $json.text || $json.html || '' }}","type":"string"},{"id":"300caabd-2814-422f-a756-8aa4e5de8967","name":"MyId","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,672],"id":"f73771ee-7773-443c-be2e-37c2cf493c4d","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"f5be5818-434b-41da-823d-cf02c31e22ba","name":"Mybody","value":"={{ $json.text || $json.html || '' }}","type":"string"},{"id":"bce2e7ff-38d2-4999-a43c-97d94862b91c","name":"MyId","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,1552],"id":"8fc0c2b1-4ad4-4349-b538-065ee61729fe","name":"Edit Fields1"}],"connections":{"OpenAI GPT-4":{"ai_languageModel":[[{"node":"AI Email Classifier","type":"ai_languageModel","index":0}]]},"Gmail Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"AI Email Classifier":{"main":[[{"node":"Label: Urgent + Important","type":"main","index":0}],[{"node":"Label: Not Urgent + Important","type":"main","index":0}],[{"node":"Label: Urgent + Not Important","type":"main","index":0}],[{"node":"Label: Not Urgent + Not Important","type":"main","index":0}]]},"Filter Valid Emails":{"main":[[{"node":"AI Email Classifier","type":"main","index":0}]]},"Manual Test Trigger":{"main":[[{"node":"Batch Process Emails","type":"main","index":0}]]},"Batch Process Emails":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Label: Not Urgent + Not Important":{"main":[[{"node":"Archive Email","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Email Classifier","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Filter Valid Emails","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Africa/Cairo","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1759533947,"possibleDuplicates":["199ac655d8916241","199ac63bf4e8a59f"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"47815296-3eab-44fb-b04e-d02798bb8856","triggerCount":1,"shared":[{"createdAt":"2025-09-28T19:26:45.356Z","updatedAt":"2025-09-28T19:26:45.356Z","role":"workflow:owner","workflowId":"48VYsKLFiuDLPbh4","projectId":"LHEmgw1As9k75i72"}],"tags":[]}