workflows/Backup workflows to git repository.json
{"createdAt":"2025-10-03T19:52:19.138Z","updatedAt":"2025-10-03T20:26:28.000Z","id":"moRZHDxDBUPQ0ftN","name":"Backup workflows to git repository","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}"},"repository":{"__rl":true,"value":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}"},"filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"44f39fbb-cf83-4f5e-a153-7f1e9555abb5","name":"GitHub","type":"n8n-nodes-base.github","position":[528,192],"typeVersion":1,"alwaysOutputData":true,"webhookId":"de3fdef5-2778-497d-93b1-acdb0d4ce5e9","credentials":{"githubApi":{"id":"8rSbLIqWyWNlJzgw","name":"GitHub account 2"}},"continueOnFail":true},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"blinkappnet"},{"name":"repo.name","value":"n8n-workflows"},{"name":"repo.path","value":"workflows/"}]},"options":{}},"id":"7487bf5f-a027-4bfb-b14d-ef27a0271064","name":"Globals","type":"n8n-nodes-base.set","position":[-176,112],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"6a9c8635-4df5-4dcd-b514-12ebe8c2b6c6","name":"n8n","type":"n8n-nodes-base.n8n","position":[64,112],"typeVersion":1,"credentials":{"n8nApi":{"id":"D0MQvdS6uyryUXeL","name":"n8n account"}}},{"parameters":{"options":{}},"id":"1b8c7fc7-461f-4384-a74b-e8e19922bc1e","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[288,112],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"b25d0813-382d-458c-8aea-2177270599cd","name":"If","type":"n8n-nodes-base.if","position":[720,192],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"655169ca-5cc1-4631-9610-75a963b5e18b","name":"If1","type":"n8n-nodes-base.if","position":[1600,464],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"0dfdbf10-b1e5-48ce-83d0-7fa86518d3ce","name":"Code","type":"n8n-nodes-base.code","position":[1280,160],"typeVersion":2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"9d4c3272-1042-4eb2-89bc-0d652bf4a256","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[912,352],"typeVersion":1,"webhookId":"b18689ac-0abd-4e73-a2b9-3983ae0f599e","credentials":{"githubApi":{"id":"8rSbLIqWyWNlJzgw","name":"GitHub account 2"}}},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"b023c9d1-e6c1-42cf-b1b6-db6f05362dbe","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[1968,672],"typeVersion":1,"webhookId":"ff25a46a-f126-41ae-8a4f-4e6d2daed671","credentials":{"githubApi":{"id":"8rSbLIqWyWNlJzgw","name":"GitHub account 2"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"f0e99900-bf0a-4ee1-a292-4d562d4b4a4e","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-400,112],"typeVersion":1.2},{"parameters":{"content":"Workflow changes committed to the repository","height":80},"id":"d0b02783-15b0-4991-9c39-23a3272f043b","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[2128,688],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":80},"id":"4b37843e-c882-4a85-baa2-6a541eee0bce","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1744,464],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80},"id":"5fd39145-1eb9-42d6-82f4-719b15a022b5","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1024,368],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80},"id":"d89a1e10-00ea-4e32-ab63-a780807050ba","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[720,80],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":80},"id":"0ea47ace-cd2a-4f73-a694-b788312d3fac","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1232,64],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80},"id":"adf588df-555e-44a8-bea0-a535df88495f","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"Set variables","height":80},"id":"80bf26c1-693b-4086-bec8-8d492d7aa482","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-256,240],"typeVersion":1}],"connections":{"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"If","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GitHub","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Create new file and commit":[{"json":{"name":"First item","code":1}},{"json":{"name":"Second item","code":2}}]},"versionId":"57757bfa-20fb-436f-bf77-bc9e7a030003","triggerCount":1,"shared":[{"createdAt":"2025-10-03T19:52:19.143Z","updatedAt":"2025-10-03T19:52:19.143Z","role":"workflow:owner","workflowId":"moRZHDxDBUPQ0ftN","projectId":"LHEmgw1As9k75i72"}],"tags":[]}