workflows/Categorize and Label Existing IMAP Emails Automatically with GPT-4o mini copy.json
{"createdAt":"2025-10-02T09:55:06.112Z","updatedAt":"2025-10-02T11:40:45.000Z","id":"v98uGYMSvqhTOaq8","name":"Categorize and Label Existing IMAP Emails Automatically with GPT-4o mini copy","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## 1. Manual Trigger + Gmail Fetch + Label Checker\n[Read more about Manual Trigger node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.manualworkflowtrigger/?utm_source=n8n_app&utm_medium=node_settings_modal-credential_link&utm_campaign=n8n-nodes-base.manualTrigger)\n[Read more about Gmail Get node](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.gmail/draft-operations/#get-many-drafts)\n[Read more about Filter node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.filter/?utm_source=n8n_app&utm_medium=node_settings_modal-credential_link&utm_campaign=n8n-nodes-base.filter)\n\n🖱️ Manual inbox processing\n\nThis section starts the workflow manually with a click, allowing you to process a batch of existing emails already in your Gmail inbox.\nIt fetches a defined number of messages (default: 50) and uses a Filter node to skip emails that already have labels — ensuring only unlabeled emails are passed to AI.\nYou can adjust the number of emails to fetch by changing the limit in the Gmail node.","height":972,"width":736,"color":7},"id":"036f8a06-6bac-47fd-8c09-9a41bd673776","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[832,-64],"typeVersion":1},{"parameters":{"content":"## 📨 Categorize and Label Existing Gmail Emails Automatically with GPT-4o mini\n\n## 👥 Who's it for\n\nThis workflow is perfect for individuals or teams who want to sort and label existing emails in their Gmail inbox 🗃️ using AI. Ideal for cleaning up unlabeled emails in bulk — no coding required!\n\nFor sorting incoming emails messages in your gmail inbox, please use this free workflow: [Categorize and Label Incoming Gmail Emails Automatically with GPT-4o mini](https://n8n.io/workflows/5595-categorize-and-label-gmail-emails-automatically-with-gpt-4o-mini/)\n\n## 🤖 What it does\n\nIt manually processes a selected number of existing Gmail emails, skips those that already have labels, sends the content to an AI Agent powered by GPT-4o mini 🧠, and applies a relevant Gmail label based on the email content. All labels must already exist in Gmail.\n\n## ⚙️ How it works\n\n▶️ Manual Trigger – The workflow starts manually when you click \"Execute Workflow\".\n\n📥 Gmail Get Many Messages – Pulls a batch of existing inbox emails (default: 50).\n\n🚫 Filter – Skips emails that already have one or more labels.\n\n🧠 AI Agent (GPT-4o mini) – Analyzes the content and assigns a category.\n\n🧾 Structured Output Parser – Converts the AI output into structured JSON.\n\n🔀 Switch Node – Routes each email to the right label based on the AI result.\n\n🏷️ Gmail Nodes – Apply the correct Gmail label to the email.\n\n## 📋 Requirements\n\nGmail account connected to n8n\n\nGmail labels must be manually created in your inbox beforehand\n\nLabels must exactly match the category names defined in the AI prompt\n\nOpenAI credentials with GPT-4o mini access\n\nn8n's AI Agent & Structured Output Parser nodes\n\n## 🛠️ How to set up\n\nIn your Gmail account, create all the labels you want to use for categorizing emails\n\nOpen the workflow and adjust the email fetch limit in the Gmail node (e.g., 50, 100)\n\nConfirm that the Filter skips emails that already have labels\n\nDefine your categories in the AI Agent prompt — these must match the Gmail labels exactly\n\nIn the Switch Node, create a condition for each label/category\n\nEnsure each Gmail Label Node applies the correct existing label\n\nSave the workflow and run it manually whenever you want to organize your inbox ✅\n\n## 🎨 How to customize the workflow\nAdd or remove categories in the AI prompt & Switch Node\n\nAdjust the batch size of emails to process more or fewer per run\n\nFine-tune the AI prompt to suit your inbox type (e.g., work, personal, client support)\n\n","height":1628,"width":588},"id":"52bde472-fac2-48a1-a71b-33258d4b25de","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[208,-64],"typeVersion":1},{"parameters":{"content":"## 2. AI Categorization + Structured Output\n\n[Read more about AI Agent node](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent/?utm_source=n8n_app&utm_medium=node_settings_modal-credential_link&utm_campaign=%40n8n%2Fn8n-nodes-langchain.agent)\n[Read more about Structured Output Parser node](https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.outputparserstructured/?utm_source=n8n_app&utm_medium=node_settings_modal-credential_link&utm_campaign=%40n8n%2Fn8n-nodes-langchain.outputParserStructured)\n\n🧠 Analyze and extract label\n\nThis section uses an AI Agent powered by GPT-4o mini to analyze the subject and body of each email and determine the appropriate label based on your custom prompt.\nThe AI's response is parsed by the Structured Output Parser, which converts it into clean JSON like:\n{ \"email_label\": \"work\" }\nMake sure the categories returned match exactly with the Gmail labels you've already created.","height":972,"width":560,"color":7},"id":"24326e01-141e-4b4a-bcc4-e3f84352ce6e","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[1600,-64],"typeVersion":1},{"parameters":{"content":"## 3. Apply labels based on AI output\n[Read more about Switch node editing](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.switch/?utm_source=n8n_app&utm_medium=node_settings_modal-credential_link&utm_campaign=n8n-nodes-base.switch)\n[Read more about Gmail node editing](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.gmail/message-operations/#add-label-to-a-message)\n\n🏷️ Apply labels based on AI output\nThe Switch node uses email_label from the AI response to route each email to the correct label path.\nEach branch corresponds to one category.\nThen, each Gmail node applies the label that matches the category.\n⚠️ Make sure each route and label name matches exactly.","height":1620,"width":760,"color":7},"id":"38cbba3e-f81b-4e78-b124-51bd2e3d2638","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","position":[2176,-64],"typeVersion":1},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"gpt-4o-mini"},"options":{}},"id":"e5e1bae2-c363-47cf-adab-24df5e71e2e7","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1712,688],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"ybKWjgaznJsUQAHd","name":"OpenAi account"}}},{"parameters":{"postProcessAction":"nothing","format":"resolved","dataPropertyAttachmentsPrefixName":"attachment","options":{}},"type":"n8n-nodes-base.emailReadImap","typeVersion":2.1,"position":[1088,432],"id":"fd2b7993-ac00-403e-a75a-7483db4a3094","name":"Email Trigger (IMAP)","credentials":{"imap":{"id":"sbfRrL020H9xf0v5","name":"IMAP account"}}},{"parameters":{"inputText":"={{ $json.html.removeMarkdown() }}\n\n","categories":{"categories":[{"category":"Finance","description":"Finance"},{"category":"Newsletters","description":"Newsletters"},{"category":"Personal","description":"Personal"},{"category":"Shopping","description":"Shopping"},{"category":"Travel","description":"Travel"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[1712,384],"id":"0a963818-9303-4432-9d6b-40d3068c8ca1","name":"Text Classifier"},{"parameters":{"authentication":"coreImapAccount","resource":"email","operation":"moveEmail","sourceMailbox":{"__rl":true,"mode":"list","value":"INBOX"},"emailUid":"={{ $json.attributes.uid }}","destinationMailbox":{"__rl":true,"value":"Finanace","mode":"list","cachedResultName":"Finanace"}},"type":"n8n-nodes-imap.imap","typeVersion":1,"position":[2320,224],"id":"b3b9f7e2-f763-43db-a8ad-3b9d58ddc4d3","name":"Finance","credentials":{"imap":{"id":"sbfRrL020H9xf0v5","name":"IMAP account"}}},{"parameters":{"authentication":"coreImapAccount","resource":"email","operation":"moveEmail","sourceMailbox":{"__rl":true,"mode":"list","value":"INBOX"},"emailUid":"={{ $json.attributes.uid }}","destinationMailbox":{"__rl":true,"value":"Newsletters","mode":"list","cachedResultName":"Newsletters"}},"type":"n8n-nodes-imap.imap","typeVersion":1,"position":[2320,368],"id":"8031c487-1ab6-4247-83f5-580f3309dea2","name":"Newsletters","credentials":{"imap":{"id":"sbfRrL020H9xf0v5","name":"IMAP account"}}},{"parameters":{"authentication":"coreImapAccount","resource":"email","operation":"moveEmail","sourceMailbox":{"__rl":true,"mode":"list","value":"INBOX"},"emailUid":"={{ $json.attributes.uid }}","destinationMailbox":{"__rl":true,"value":"Personal","mode":"list","cachedResultName":"Personal"}},"type":"n8n-nodes-imap.imap","typeVersion":1,"position":[2320,528],"id":"aee7a520-f4cb-4b98-80cf-81ec44d86ce7","name":"Personal","credentials":{"imap":{"id":"sbfRrL020H9xf0v5","name":"IMAP account"}}},{"parameters":{"authentication":"coreImapAccount","resource":"email","operation":"moveEmail","sourceMailbox":{"__rl":true,"mode":"list","value":"INBOX"},"emailUid":"={{ $json.attributes.uid }}","destinationMailbox":{"__rl":true,"value":"Shopping","mode":"list","cachedResultName":"Shopping"}},"type":"n8n-nodes-imap.imap","typeVersion":1,"position":[2320,688],"id":"2e95517f-e288-445e-a850-e253b1fc4991","name":"Shopping","credentials":{"imap":{"id":"sbfRrL020H9xf0v5","name":"IMAP account"}}},{"parameters":{"authentication":"coreImapAccount","resource":"email","operation":"moveEmail","sourceMailbox":{"__rl":true,"mode":"list","value":"INBOX"},"emailUid":"={{ $json.attributes.uid }}","destinationMailbox":{"__rl":true,"value":"Travel","mode":"list","cachedResultName":"Travel"}},"type":"n8n-nodes-imap.imap","typeVersion":1,"position":[2336,896],"id":"632e0eda-22e2-42b0-be68-5b012c22c7b6","name":"Travel","credentials":{"imap":{"id":"sbfRrL020H9xf0v5","name":"IMAP account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Email Trigger (IMAP)":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Finance","type":"main","index":0}],[{"node":"Newsletters","type":"main","index":0}],[{"node":"Personal","type":"main","index":0}],[{"node":"Shopping","type":"main","index":0}],[{"node":"Travel","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Email Trigger (IMAP)":{"lastMessageUid":69236}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b4935d5d-5431-4fe0-adb9-99cd93ab5ac4","triggerCount":1,"shared":[{"createdAt":"2025-10-02T09:55:06.121Z","updatedAt":"2025-10-02T09:55:06.121Z","role":"workflow:owner","workflowId":"v98uGYMSvqhTOaq8","projectId":"LHEmgw1As9k75i72"}],"tags":[]}