workflows/Image to license plate number.json
{"createdAt":"2025-09-28T12:57:47.624Z","updatedAt":"2025-09-28T12:59:24.000Z","id":"WTZ5Pqza7xm5pxlu","name":"Image to license plate number","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","messageType":"imageBinary","binaryImageDataKey":"Image"}]}},"id":"4b703748-1186-4966-bf24-22340d4e2adc","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[416,176],"typeVersion":1.5},{"parameters":{"operation":"completion","completionTitle":"Extracted information:","completionMessage":"={{ $json.text }}","options":{"formTitle":""}},"id":"dfd28854-948e-4b1a-ab48-a6d210e0961b","name":"FormResultPage","type":"n8n-nodes-base.form","position":[784,176],"webhookId":"218822fe-5eb9-4451-ae8a-14b8f484fdde","typeVersion":1},{"parameters":{"model":"={{ $json.model }}","options":{}},"id":"238bb511-f79e-403a-974a-1072cda70d84","name":"OpenRouter LLM","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","position":[464,384],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"1b8381dc-5b9a-42a2-8a67-cc706b433180","name":"model","type":"string","value":"openai/gpt-4o"},{"id":"72aec130-ab56-4e61-b60b-9a31dd8d02e6","name":"prompt","type":"string","value":"Extract the number of the license plate on the front-most car depicted in the attached image and return only the extracted characters without any other text or structure."}]},"includeOtherFields":true,"options":{}},"id":"02ca683b-d8be-4240-8ff2-76dbf6026f35","name":"Settings","type":"n8n-nodes-base.set","position":[224,176],"typeVersion":3.4},{"parameters":{"formTitle":"Analyse image","formDescription":"To analyse an image, upload it here.","formFields":{"values":[{"fieldLabel":"Image","fieldType":"file","acceptFileTypes":".jpg, .png","requiredField":true}]},"responseMode":"lastNode","options":{}},"id":"24d6caf1-9139-45f6-8793-0604dcca265b","name":"FromTrigger","type":"n8n-nodes-base.formTrigger","position":[0,176],"webhookId":"41e3f34b-7abe-4c64-95cd-2942503d5e98","typeVersion":2.2}],"connections":{"Settings":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"FromTrigger":{"main":[[{"node":"Settings","type":"main","index":0}]]},"OpenRouter LLM":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"FormResultPage","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"760675f6-255e-4d1c-9303-46e6d8fecfdc","triggerCount":0,"shared":[{"createdAt":"2025-09-28T12:57:47.628Z","updatedAt":"2025-09-28T12:57:47.628Z","role":"workflow:owner","workflowId":"WTZ5Pqza7xm5pxlu","projectId":"LHEmgw1As9k75i72"}],"tags":[]}