workflows/InsightsLM - Extract Text.json
{"createdAt":"2025-09-25T23:45:21.979Z","updatedAt":"2025-09-25T23:45:21.979Z","id":"iN5FCRQlkoBcRoAs","name":"InsightsLM - Extract Text","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"filePath"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[96,-48],"id":"574fbafc-aa8e-4344-8fc1-5e6916b6ae63","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"=https://yfvmutoxmibqzvyklggr.supabase.co/storage/v1/object/sign/sources/{{ $json.filePath }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"expiresIn\": 60\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,-48],"id":"7a108987-47e2-4368-9650-45cbbf2fa43f","name":"Generate Signed URL"},{"parameters":{"url":"=https://yfvmutoxmibqzvyklggr.supabase.co/storage/v1/{{ $json.signedURL }}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[544,-48],"id":"44590be2-96f7-4587-bef1-044076129efe","name":"Download File"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.headers[\"content-type\"] }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"},"id":"dc0dbe8c-70d5-4127-95f8-0fbd3f1a6bad"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2307a9d5-7872-49dc-9aeb-60697b91dc84","leftValue":"={{ $json.headers[\"content-type\"] }}","rightValue":"audio/mpeg","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"87532eb7-b821-4d84-9d8e-c17136b0a88a","leftValue":"={{ $json.headers[\"content-type\"] }}","rightValue":"text/plain","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[768,-48],"id":"8abb843d-c735-46a0-876d-749f077258a7","name":"Switch"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[976,-240],"id":"dd796591-a346-4f7f-b115-129fc2bfea00","name":"Extract from File"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[976,-48],"id":"675f03fb-1a8f-4196-8378-8eeb0c6c622c","name":"OpenAI"},{"parameters":{"assignments":{"assignments":[{"id":"1f5bee5d-939c-4df3-8e7d-0696ac3aa702","name":"text","value":"={{ $('Download File').item.json.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[976,160],"id":"b2541454-4b0c-4545-a1c8-114b2c83fd3e","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"9fea51c0-b3a9-49b5-8608-3264c9d00304","name":"extracted_text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,-48],"id":"028bba84-87a0-4d55-a00a-5303aacd7a15","name":"Extracted Text"},{"parameters":{"content":"## To Do \n- Configure the Supabase nodes to reference your Project\n- Update the Host of the \"HTTP Requests\" to hit your project\n- Setup OpenAI credentials","width":680,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1456,-128],"id":"12339530-bc86-402e-a995-ab74d32bad98","name":"Sticky Note"},{"parameters":{"content":"[![The AI Automators](https://www.theaiautomators.com/wp-content/uploads/2025/03/gray-logo.png)](https://www.theaiautomators.com/)\n## InsightsLM\nhttps://github.com/theaiautomators/insights-lm-public","height":220,"width":280,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[96,-416],"id":"1795311f-5699-46bd-a3b7-00ad86b03c70","name":"Sticky Note8"}],"connections":{"Generate Signed URL":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract from File","type":"main","index":0}],[{"node":"OpenAI","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Generate Signed URL","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Extracted Text","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Extracted Text","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Extracted Text","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f9e338ca-93f4-4865-8014-4156c2b875c8","triggerCount":0,"shared":[{"createdAt":"2025-09-25T23:45:21.982Z","updatedAt":"2025-09-25T23:45:21.982Z","role":"workflow:owner","workflowId":"iN5FCRQlkoBcRoAs","projectId":"LHEmgw1As9k75i72"}],"tags":[]}