workflows/Insurance Law-Egypt.json
{"createdAt":"2025-09-25T22:01:55.053Z","updatedAt":"2025-09-30T17:14:40.000Z","id":"augnotMWwsM6MsQh","name":"Insurance Law-Egypt","active":true,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documentsinsurance","mode":"list","cachedResultName":"documentsinsurance"},"embeddingBatchSize":50,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1664,-176],"id":"1db0abd5-9e6a-4647-9dcb-e9362271d1d8","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"bQMqD3zM78NA1YFW","name":"Supabase account"}}},{"parameters":{"textSplittingMode":"custom","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[1792,48],"id":"9bf2e873-e667-4c7e-856a-7f6c376e48ed","name":"Default Data Loader"},{"parameters":{"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1984,224],"id":"bd0f3889-0552-4a4c-a65a-448a86bb2641","name":"Recursive Character Text Splitter"},{"parameters":{"operation":"pdf","binaryPropertyName":"File","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[624,-176],"id":"54604fa0-a4d8-4d3f-b72c-ddfc7476b677","name":"Extract from File"},{"parameters":{"assignments":{"assignments":[{"id":"0b7d086b-2474-4ffe-bbaa-28eb3be49d11","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[864,-176],"id":"6d5206bb-aae1-4396-8662-4398d1335dc3","name":"Edit Fields","alwaysOutputData":true},{"parameters":{"options":{"systemMessage":"You are a helpful assistant.\n\nYou MUST use the Hybrid_search_tool tool to find the answer. Do not use your own knowledge.\n\nIf you are not sure what to say, then simply output \"Sorry, I don't know\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[224,240],"id":"0f852a18-5423-4595-9bc4-f995e09220c2","name":"AI Agent","alwaysOutputData":true,"notesInFlow":false},{"parameters":{"assignments":{"assignments":[{"id":"ac913869-daeb-4727-9c97-4546742acf63","name":"text","value":"={{ $json.text\n  .normalize(\"NFKC\")                                               // normalize Unicode (convert presentation forms to base Arabic letters)\n  .replace(/<[^>]*>/gu, ' ')                                       // remove HTML tags\n  .replace(/[^\\p{L}\\p{N}\\s\\n•\\-*()\\[\\]{}<>.,،'\"«»“”‘’]/gu, ' ')    // keep allowed chars\n  .replace(/([^\\p{N}])(\\p{N})/gu, '$1 $2')                         // add space between letter -> number\n  .replace(/(\\p{N})([^\\p{N}])/gu, '$1 $2')                         // add space between number -> letter\n  .replace(/\\d/g, d => '٠١٢٣٤٥٦٧٨٩'[d])                           // convert Western digits to Arabic-Indic\n  .replace(/[ \\t]+/gu, ' ')                                        // collapse multiple spaces/tabs\n  .replace(/\\n{3,}/g, '\\n\\n')                                      // collapse 3+ newlines to 2\n  .replace(/[ \\t]*([•\\-*])\\s*/g, '\\n$1 ')                          // ensure bullets start on a new line\n  .replace(/,/g, '،')                                              // unify English comma to Arabic\n  .replace(/ +\\./g, '.')                                           // remove spaces before dot\n  .replace(/ \\،/g, '،')                                            // remove spaces before Arabic comma\n  .replace(/([،.])([^\\s])/g, '$1 $2')                              // ensure space after comma or dot\n  .trim()\n}}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1424,-176],"id":"ac8323cc-a10c-41ca-923e-ffe8906a636a","name":"Edit Fields1"},{"parameters":{"formTitle":"Archivo","formFields":{"values":[{"fieldLabel":"File","fieldType":"file","multipleFiles":false,"acceptFileTypes":".pdf","requiredField":true}]},"options":{"appendAttribution":true}},"id":"a1be8f1e-9cea-4eab-9703-e2b3bec1e88b","name":"On form submission","type":"n8n-nodes-base.formTrigger","position":[64,-176],"webhookId":"2451c5dc-7435-4e60-862c-8e892e7ccd9b","typeVersion":2.2,"alwaysOutputData":true,"notesInFlow":true},{"parameters":{"contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[288,512],"id":"b0842ed0-9a3e-4572-ae50-97eaee1557ea","name":"Simple Memory"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[112,480],"id":"136bd4d9-b3e7-4968-8e15-7f9cd0bceb24","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ybKWjgaznJsUQAHd","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1616,48],"id":"956f8981-2942-404c-8a5b-13a49c9516e3","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"ybKWjgaznJsUQAHd","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://ohbglkhpupqvctupgmjw.supabase.co/functions/v1/hybrid_search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9oYmdsa2hwdXBxdmN0dXBnbWp3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc4NDg1MzIsImV4cCI6MjA3MzQyNDUzMn0.WUYqkBTBNZuquDrKEgrJRrbiLZQl0KMP8d_aK9rcQq0"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"query","value":"={{ $json.chatInput }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,400],"id":"1bc69725-0fc2-4640-9110-429a2044e95a","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"https://ohbglkhpupqvctupgmjw.supabase.co/functions/v1/hybrid_search_insurance","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9oYmdsa2hwdXBxdmN0dXBnbWp3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc4NDg1MzIsImV4cCI6MjA3MzQyNDUzMn0.WUYqkBTBNZuquDrKEgrJRrbiLZQl0KMP8d_aK9rcQq0"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"query","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[496,496],"id":"4adca520-2fe7-4c08-8809-56f28259bfe2","name":"Hybrid_search_tool"},{"parameters":{"public":true,"initialMessages":"مرحبا  👋\nانا شريف. قولي ازاي اقدر اساعدك","options":{"allowFileUploads":true,"allowedFilesMimeTypes":"image/jpeg,image/png,application/pdf","inputPlaceholder":"اكتب سؤالك","subtitle":"ابدأ محادثة. نحن هنا لمساعدتك على مدار الساعة.","title":"مساعدك الذكي لقانون التأمين - الشئون القانونية","customCss":":root {\n  /* Colors */\n  --chat--color-primary: #e74266;\n  --chat--color-primary-shade-50: #db4061;\n  --chat--color-primary-shade-100: #cf3c5c;\n  --chat--color-secondary: #20b69e;\n  --chat--color-secondary-shade-50: #1ca08a;\n  --chat--color-white: #ffffff;\n  --chat--color-light: #f2f4f8;\n  --chat--color-light-shade-50: #e6e9f1;\n  --chat--color-light-shade-100: #c2c5cc;\n  --chat--color-medium: #d2d4d9;\n  --chat--color-dark: #101330;\n  --chat--color-disabled: #777980;\n  --chat--color-typing: #404040;\n\n  /* Base Layout */\n  --chat--spacing: 1rem;\n  --chat--border-radius: 0.25rem;\n  --chat--transition-duration: 0.15s;\n  --chat--font-family: (\n    -apple-system,\n    BlinkMacSystemFont,\n    'Segoe UI',\n    Roboto,\n    Oxygen-Sans,\n    Ubuntu,\n    Cantarell,\n    'Helvetica Neue',\n    sans-serif\n  );\n\n  /* Window Dimensions */\n  --chat--window--width: 400px;\n  --chat--window--height: 600px;\n  --chat--window--bottom: var(--chat--spacing);\n  --chat--window--right: var(--chat--spacing);\n  --chat--window--z-index: 9999;\n  --chat--window--border: 1px solid var(--chat--color-light-shade-50);\n  --chat--window--border-radius: var(--chat--border-radius);\n  --chat--window--margin-bottom: var(--chat--spacing);\n\n  /* Header Styles */\n  --chat--header-height: auto;\n  --chat--header--padding: var(--chat--spacing);\n  --chat--header--background: var(--chat--color-dark);\n  --chat--header--color: var(--chat--color-light);\n  --chat--header--border-top: none;\n  --chat--header--border-bottom: none;\n  --chat--header--border-left: none;\n  --chat--header--border-right: none;\n  --chat--heading--font-size: 2em;\n  --chat--subtitle--font-size: inherit;\n  --chat--subtitle--line-height: 1.1;\n\n  /* Message Styles */\n  --chat--message--font-size: 1rem;\n  --chat--message--padding: var(--chat--spacing);\n  --chat--message--border-radius: var(--chat--border-radius);\n  --chat--message-line-height: 1.5;\n  --chat--message--margin-bottom: calc(var(--chat--spacing) * 1);\n  --chat--message--bot--background: var(--chat--color-white);\n  --chat--message--bot--color: var(--chat--color-dark);\n  --chat--message--bot--border: none;\n  --chat--message--user--background: var(--chat--color-secondary);\n  --chat--message--user--color: var(--chat--color-white);\n  --chat--message--user--border: none;\n  --chat--message--pre--background: rgba(0, 0, 0, 0.05);\n  --chat--messages-list--padding: var(--chat--spacing);\n\n  /* Toggle Button */\n  --chat--toggle--size: 64px;\n  --chat--toggle--width: var(--chat--toggle--size);\n  --chat--toggle--height: var(--chat--toggle--size);\n  --chat--toggle--border-radius: 50%;\n  --chat--toggle--background: var(--chat--color-primary);\n  --chat--toggle--hover--background: var(--chat--color-primary-shade-50);\n  --chat--toggle--active--background: var(--chat--color-primary-shade-100);\n  --chat--toggle--color: var(--chat--color-white);\n\n  /* Input Area */\n  --chat--textarea--height: 50px;\n  --chat--textarea--max-height: 30rem;\n  --chat--input--font-size: inherit;\n  --chat--input--border: 0;\n  --chat--input--border-radius: 0;\n  --chat--input--padding: 0.8rem;\n  --chat--input--background: var(--chat--color-white);\n  --chat--input--text-color: initial;\n  --chat--input--line-height: 1.5;\n  --chat--input--placeholder--font-size: var(--chat--input--font-size);\n  --chat--input--border-active: 0;\n  --chat--input--left--panel--width: 2rem;\n\n  /* Button Styles */\n  --chat--button--color: var(--chat--color-light);\n  --chat--button--background: var(--chat--color-primary);\n  --chat--button--padding: calc(var(--chat--spacing) * 1 / 2) var(--chat--spacing);\n  --chat--button--border-radius: var(--chat--border-radius);\n  --chat--button--hover--color: var(--chat--color-light);\n  --chat--button--hover--background: var(--chat--color-primary-shade-50);\n  --chat--close--button--color-hover: var(--chat--color-primary);\n\n  /* Send and File Buttons */\n  --chat--input--send--button--background: var(--chat--color-white);\n  --chat--input--send--button--color: var(--chat--color-light);\n  --chat--input--send--button--background-hover: var(--chat--color-primary-shade-50);\n  --chat--input--send--button--color-hover: var(--chat--color-secondary-shade-50);\n  --chat--input--file--button--background: var(--chat--color-white);\n  --chat--input--file--button--color: var(--chat--color-secondary);\n  --chat--input--file--button--background-hover: var(--chat--input--file--button--background);\n  --chat--input--file--button--color-hover: var(--chat--color-secondary-shade-50);\n  --chat--files-spacing: 0.25rem;\n\n  /* Body and Footer */\n  --chat--body--background: var(--chat--color-light);\n  --chat--footer--background: var(--chat--color-light);\n  --chat--footer--color: var(--chat--color-dark);\n}\n\n\n/* You can override any class styles, too. Right-click inspect in Chat UI to find class to override. */\n.chat-message {\n\tmax-width: 50%;\n}\n/* Add new overrides here */\n.n8n-chat {\n  direction: rtl;\n  text-align: right;\n}\n.n8n-chat .chat-message {\n  text-align: right;\n}\n.n8n-chat .chat-message.user {\n  margin-left: 0;\n  margin-right: auto;\n}\n.n8n-chat .chat-header {\n  padding: 0.5rem 0.75rem;   /* give a bit more space */\n  min-height: 48px;          /* allow for at least 2 lines */\n  font-size: 1rem;\n  background: var(--chat--color-dark);\n  color: var(--chat--color-light);\n  border-bottom: 1px solid var(--chat--color-light-shade-50);\n  display: flex;\n  align-items: center;\n  justify-content: flex-start;\n  flex-wrap: wrap;           /* allow wrapping */\n  text-align: right;         /* RTL alignment */\n}\n\n.n8n-chat .chat-header-title {\n  font-size: 1rem;\n  line-height: 1.3;          /* normal line spacing for wrapping */\n  flex: 1 1 100%;            /* title can take full width if needed */\n  white-space: normal;       /* allow text to wrap */\n  word-break: break-word;    /* break long words */\n}\n\n/* Optional: hide subtitle if you don’t need it */\n.n8n-chat .chat-header-subtitle {\n  display: none;\n}\n","responseMode":"streaming"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-80,240],"id":"f485d71e-7016-43db-84bf-05e50bc96864","name":"When chat message received","webhookId":"93548a2e-0174-4697-8a95-6d8765af4bac"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3cbe4fca-fbed-427f-b992-768c7136c131","leftValue":"={{ $json.text.trim()}}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1056,-192],"id":"23e96d6a-42bf-41af-998d-ea3ed11a48d3","name":"If"},{"parameters":{"binaryPropertyName":"File","model":"mistral-ocr-2503","options":{"includeImageBase64":false}},"type":"n8n-nodes-mistral-ocr.mistralOcr","typeVersion":1,"position":[1248,-432],"id":"592cbc3f-6468-4e57-bf0c-90612c256a11","name":"Mistral OCR","credentials":{"mistralApi":{"id":"1UiRhG1uYdyTirTH","name":"Mistral account"}}},{"parameters":{"includeOtherFields":true,"include":"selected","includeFields":"File","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,-176],"id":"44349fd9-34f2-4c1a-8f91-b4af83df78f8","name":"Edit Fields2"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1104,-416],"id":"781f8634-e3d5-4952-8cd3-72e5fd439fec","name":"Merge"}],"connections":{"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Extract from File":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Hybrid_search_tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"If":{"main":[[{"node":"Merge","type":"main","index":1}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Mistral OCR":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Extract from File","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Mistral OCR","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"97d9f4e6-dc05-4a71-94ca-135111c6e989","triggerCount":2,"shared":[{"createdAt":"2025-09-25T22:01:55.060Z","updatedAt":"2025-09-25T22:01:55.060Z","role":"workflow:owner","workflowId":"augnotMWwsM6MsQh","projectId":"LHEmgw1As9k75i72"}],"tags":[]}