workflows/Labor Law-Egypt.json
{"createdAt":"2025-09-25T22:02:38.716Z","updatedAt":"2025-09-26T00:05:12.000Z","id":"vCISm0VplzAo1O44","name":"Labor Law-Egypt","active":true,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"embeddingBatchSize":50,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1024,0],"id":"d2d8d2c0-ad91-471d-8808-aa65ee92b9be","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"bQMqD3zM78NA1YFW","name":"Supabase account"}}},{"parameters":{"textSplittingMode":"custom","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[1152,224],"id":"949a1f71-c4ec-4b4a-b8b3-48061364159f","name":"Default Data Loader"},{"parameters":{"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1344,400],"id":"ad9dd324-bfc0-4bda-907f-e7021de20b51","name":"Recursive Character Text Splitter"},{"parameters":{"operation":"pdf","binaryPropertyName":"File","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[320,0],"id":"c36cabab-6f92-4bd5-baf3-162a2572783a","name":"Extract from File"},{"parameters":{"assignments":{"assignments":[{"id":"0b7d086b-2474-4ffe-bbaa-28eb3be49d11","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[528,0],"id":"88eb165f-fe7f-4a4d-9dbc-c4c22b261698","name":"Edit Fields","alwaysOutputData":true},{"parameters":{"public":true,"initialMessages":"مرحبا  👋\nانا سامي. قولي ازاي اقدر اساعدك","options":{"allowFileUploads":true,"allowedFilesMimeTypes":"image/jpeg,image/png,application/pdf","inputPlaceholder":"اكتب سؤالك","subtitle":"ابدأ محادثة. نحن هنا لمساعدتك على مدار الساعة.","title":"مساعدك الذكي لقانون العمل - شئون الموظفين","customCss":":root {\n  /* Colors */\n  --chat--color-primary: #e74266;\n  --chat--color-primary-shade-50: #db4061;\n  --chat--color-primary-shade-100: #cf3c5c;\n  --chat--color-secondary: #20b69e;\n  --chat--color-secondary-shade-50: #1ca08a;\n  --chat--color-white: #ffffff;\n  --chat--color-light: #f2f4f8;\n  --chat--color-light-shade-50: #e6e9f1;\n  --chat--color-light-shade-100: #c2c5cc;\n  --chat--color-medium: #d2d4d9;\n  --chat--color-dark: #101330;\n  --chat--color-disabled: #777980;\n  --chat--color-typing: #404040;\n\n  /* Base Layout */\n  --chat--spacing: 1rem;\n  --chat--border-radius: 0.25rem;\n  --chat--transition-duration: 0.15s;\n  --chat--font-family: (\n    -apple-system,\n    BlinkMacSystemFont,\n    'Segoe UI',\n    Roboto,\n    Oxygen-Sans,\n    Ubuntu,\n    Cantarell,\n    'Helvetica Neue',\n    sans-serif\n  );\n\n  /* Window Dimensions */\n  --chat--window--width: 400px;\n  --chat--window--height: 600px;\n  --chat--window--bottom: var(--chat--spacing);\n  --chat--window--right: var(--chat--spacing);\n  --chat--window--z-index: 9999;\n  --chat--window--border: 1px solid var(--chat--color-light-shade-50);\n  --chat--window--border-radius: var(--chat--border-radius);\n  --chat--window--margin-bottom: var(--chat--spacing);\n\n  /* Header Styles */\n  --chat--header-height: auto;\n  --chat--header--padding: var(--chat--spacing);\n  --chat--header--background: var(--chat--color-dark);\n  --chat--header--color: var(--chat--color-light);\n  --chat--header--border-top: none;\n  --chat--header--border-bottom: none;\n  --chat--header--border-left: none;\n  --chat--header--border-right: none;\n  --chat--heading--font-size: 2em;\n  --chat--subtitle--font-size: inherit;\n  --chat--subtitle--line-height: 1.1;\n\n  /* Message Styles */\n  --chat--message--font-size: 1rem;\n  --chat--message--padding: var(--chat--spacing);\n  --chat--message--border-radius: var(--chat--border-radius);\n  --chat--message-line-height: 1.5;\n  --chat--message--margin-bottom: calc(var(--chat--spacing) * 1);\n  --chat--message--bot--background: var(--chat--color-white);\n  --chat--message--bot--color: var(--chat--color-dark);\n  --chat--message--bot--border: none;\n  --chat--message--user--background: var(--chat--color-secondary);\n  --chat--message--user--color: var(--chat--color-white);\n  --chat--message--user--border: none;\n  --chat--message--pre--background: rgba(0, 0, 0, 0.05);\n  --chat--messages-list--padding: var(--chat--spacing);\n\n  /* Toggle Button */\n  --chat--toggle--size: 64px;\n  --chat--toggle--width: var(--chat--toggle--size);\n  --chat--toggle--height: var(--chat--toggle--size);\n  --chat--toggle--border-radius: 50%;\n  --chat--toggle--background: var(--chat--color-primary);\n  --chat--toggle--hover--background: var(--chat--color-primary-shade-50);\n  --chat--toggle--active--background: var(--chat--color-primary-shade-100);\n  --chat--toggle--color: var(--chat--color-white);\n\n  /* Input Area */\n  --chat--textarea--height: 50px;\n  --chat--textarea--max-height: 30rem;\n  --chat--input--font-size: inherit;\n  --chat--input--border: 0;\n  --chat--input--border-radius: 0;\n  --chat--input--padding: 0.8rem;\n  --chat--input--background: var(--chat--color-white);\n  --chat--input--text-color: initial;\n  --chat--input--line-height: 1.5;\n  --chat--input--placeholder--font-size: var(--chat--input--font-size);\n  --chat--input--border-active: 0;\n  --chat--input--left--panel--width: 2rem;\n\n  /* Button Styles */\n  --chat--button--color: var(--chat--color-light);\n  --chat--button--background: var(--chat--color-primary);\n  --chat--button--padding: calc(var(--chat--spacing) * 1 / 2) var(--chat--spacing);\n  --chat--button--border-radius: var(--chat--border-radius);\n  --chat--button--hover--color: var(--chat--color-light);\n  --chat--button--hover--background: var(--chat--color-primary-shade-50);\n  --chat--close--button--color-hover: var(--chat--color-primary);\n\n  /* Send and File Buttons */\n  --chat--input--send--button--background: var(--chat--color-white);\n  --chat--input--send--button--color: var(--chat--color-light);\n  --chat--input--send--button--background-hover: var(--chat--color-primary-shade-50);\n  --chat--input--send--button--color-hover: var(--chat--color-secondary-shade-50);\n  --chat--input--file--button--background: var(--chat--color-white);\n  --chat--input--file--button--color: var(--chat--color-secondary);\n  --chat--input--file--button--background-hover: var(--chat--input--file--button--background);\n  --chat--input--file--button--color-hover: var(--chat--color-secondary-shade-50);\n  --chat--files-spacing: 0.25rem;\n\n  /* Body and Footer */\n  --chat--body--background: var(--chat--color-light);\n  --chat--footer--background: var(--chat--color-light);\n  --chat--footer--color: var(--chat--color-dark);\n}\n\n\n/* You can override any class styles, too. Right-click inspect in Chat UI to find class to override. */\n.chat-message {\n\tmax-width: 50%;\n}\n/* Add new overrides here */\n.n8n-chat {\n  direction: rtl;\n  text-align: right;\n}\n.n8n-chat .chat-message {\n  text-align: right;\n}\n.n8n-chat .chat-message.user {\n  margin-left: 0;\n  margin-right: auto;\n}\n.n8n-chat .chat-header {\n  padding: 0.5rem 0.75rem;   /* give a bit more space */\n  min-height: 48px;          /* allow for at least 2 lines */\n  font-size: 1rem;\n  background: var(--chat--color-dark);\n  color: var(--chat--color-light);\n  border-bottom: 1px solid var(--chat--color-light-shade-50);\n  display: flex;\n  align-items: center;\n  justify-content: flex-start;\n  flex-wrap: wrap;           /* allow wrapping */\n  text-align: right;         /* RTL alignment */\n}\n\n.n8n-chat .chat-header-title {\n  font-size: 1rem;\n  line-height: 1.3;          /* normal line spacing for wrapping */\n  flex: 1 1 100%;            /* title can take full width if needed */\n  white-space: normal;       /* allow text to wrap */\n  word-break: break-word;    /* break long words */\n}\n\n/* Optional: hide subtitle if you don’t need it */\n.n8n-chat .chat-header-subtitle {\n  display: none;\n}\n","responseMode":"streaming"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-288,416],"id":"cbb355f4-d1ec-48ed-80b5-644880a82778","name":"When chat message received","webhookId":"e25ed388-670e-41b9-b1de-37181e060c9c","notesInFlow":false,"alwaysOutputData":true},{"parameters":{"options":{"systemMessage":"You are a helpful assistant.\n\nYou MUST use the Hybrid_search_tool tool to find the answer. Do not use your own knowledge.\n\nIf you are not sure what to say, then simply output \"Sorry, I don't know\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[0,416],"id":"b2fb92a3-2ed7-4e49-8e63-748356af315e","name":"AI Agent","alwaysOutputData":true,"notesInFlow":false},{"parameters":{"assignments":{"assignments":[{"id":"ac913869-daeb-4727-9c97-4546742acf63","name":"text","value":"={{ $json.text\n  .normalize(\"NFKC\")                                               // normalize Unicode (convert presentation forms to base Arabic letters)\n  .replace(/<[^>]*>/gu, ' ')                                       // remove HTML tags\n  .replace(/[^\\p{L}\\p{N}\\s\\n•\\-*()\\[\\]{}<>.,،'\"«»“”‘’]/gu, ' ')    // keep allowed chars\n  .replace(/([^\\p{N}])(\\p{N})/gu, '$1 $2')                         // add space between letter -> number\n  .replace(/(\\p{N})([^\\p{N}])/gu, '$1 $2')                         // add space between number -> letter\n  .replace(/\\d/g, d => '٠١٢٣٤٥٦٧٨٩'[d])                           // convert Western digits to Arabic-Indic\n  .replace(/[ \\t]+/gu, ' ')                                        // collapse multiple spaces/tabs\n  .replace(/\\n{3,}/g, '\\n\\n')                                      // collapse 3+ newlines to 2\n  .replace(/[ \\t]*([•\\-*])\\s*/g, '\\n$1 ')                          // ensure bullets start on a new line\n  .replace(/,/g, '،')                                              // unify English comma to Arabic\n  .replace(/ +\\./g, '.')                                           // remove spaces before dot\n  .replace(/ \\،/g, '،')                                            // remove spaces before Arabic comma\n  .replace(/([،.])([^\\s])/g, '$1 $2')                              // ensure space after comma or dot\n  .trim()\n}}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[736,0],"id":"a1ed3721-98d2-49db-b5b2-aa3936dde1b8","name":"Edit Fields1"},{"parameters":{"formTitle":"Archivo","formFields":{"values":[{"fieldLabel":"File","fieldType":"file","multipleFiles":false,"acceptFileTypes":".pdf","requiredField":true}]},"options":{}},"id":"d7e6c61c-b8d4-49d9-9c71-2bc808d54dad","name":"On form submission","type":"n8n-nodes-base.formTrigger","position":[0,0],"webhookId":"6c4668b3-6d00-4902-ace7-a9155048779a","typeVersion":2.2,"disabled":true},{"parameters":{"contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[64,688],"id":"3c943dce-fae0-4c71-aa9b-0ccd1e728a51","name":"Simple Memory"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-112,656],"id":"7af879bd-dbf6-41c3-8e71-b1ee27c32428","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ybKWjgaznJsUQAHd","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[976,224],"id":"2a401b58-07e6-4a83-9a4e-838e16cc3154","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"ybKWjgaznJsUQAHd","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://ohbglkhpupqvctupgmjw.supabase.co/functions/v1/hybrid_search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9oYmdsa2hwdXBxdmN0dXBnbWp3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc4NDg1MzIsImV4cCI6MjA3MzQyNDUzMn0.WUYqkBTBNZuquDrKEgrJRrbiLZQl0KMP8d_aK9rcQq0"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"query","value":"={{ $json.chatInput }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,576],"id":"0e44ed22-2390-4e1c-af7b-dfb78e8f8077","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"https://ohbglkhpupqvctupgmjw.supabase.co/functions/v1/hybrid_search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9oYmdsa2hwdXBxdmN0dXBnbWp3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc4NDg1MzIsImV4cCI6MjA3MzQyNDUzMn0.WUYqkBTBNZuquDrKEgrJRrbiLZQl0KMP8d_aK9rcQq0"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"query","value":"={{ $fromAI('parameters0_Value', ``, 'string') }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[272,672],"id":"803005dd-c8c9-48e1-8856-7f16838de415","name":"Hybrid_search_tool"}],"connections":{"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Extract from File":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Hybrid_search_tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"58a88eb9-6235-497f-826b-e112a419a50a","triggerCount":1,"shared":[{"createdAt":"2025-09-25T22:02:38.720Z","updatedAt":"2025-09-25T22:02:38.720Z","role":"workflow:owner","workflowId":"vCISm0VplzAo1O44","projectId":"LHEmgw1As9k75i72"}],"tags":[]}