workflows/My workflow 3.json
{"createdAt":"2025-10-02T11:45:00.335Z","updatedAt":"2025-10-02T11:53:37.000Z","id":"5qes2IdsnbUgu4iK","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{"downloadAttachments":true,"options":{}},"id":"194a5b84-40ca-42c7-8635-31463955bc43","name":"Email Trigger (IMAP)","type":"n8n-nodes-base.emailReadImap","position":[-2416,1184],"typeVersion":2,"credentials":{"imap":{"id":"sbfRrL020H9xf0v5","name":"IMAP account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"bb988e36-c702-4b83-8ec1-f4f585f3b411","operator":{"type":"string","operation":"equals"},"leftValue":"={{$json[\"category\"]}}","rightValue":"hr"}]},"renameOutput":true,"outputKey":"hr"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"06afe4de-1542-46e9-9d57-7775b3b2d185","operator":{"type":"string","operation":"equals"},"leftValue":"={{$json[\"category\"]}}","rightValue":"billing"}]},"renameOutput":true,"outputKey":"billing"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"069fdd96-983f-46a7-a709-863cdbc6384d","operator":{"type":"string","operation":"equals"},"leftValue":"={{$json[\"category\"]}}","rightValue":"complaint"}]},"renameOutput":true,"outputKey":"complaint"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f3e821fa-8b78-427e-abe4-38ae628624e1","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{$json[\"category\"]}}","rightValue":"feedback"}]},"renameOutput":true,"outputKey":"feedback"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"4a46eaa4-e960-4f3b-b23c-b04d9dbb61e0","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{$json[\"category\"]}}","rightValue":"inquiry"}]},"renameOutput":true,"outputKey":"inquiry"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f4a3c28e-ca9f-4c7c-aa04-010832d7dab5","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json[\"subject\"] }}","rightValue":"sales"}]},"renameOutput":true,"outputKey":"sales"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"263fd3c7-1e12-4b2e-96b2-0b99e713632d","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{$json[\"category\"]}}","rightValue":"unknown"}]},"renameOutput":true,"outputKey":"unknown"}]},"options":{}},"id":"4926e934-f3a5-4425-b532-7d44ff5ea2a7","name":"Switch1","type":"n8n-nodes-base.switch","position":[-1984,1104],"typeVersion":3.2},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const subject = $json.subject ? $json.subject.toLowerCase() : \"\";\n\nlet category = \"unknown\";\n\nif (/resume|cv|job/.test(subject)) {\n  category = \"hr\";\n} else if (/invoice|bill/.test(subject)) {\n  category = \"billing\";\n} else if (/complaint|problem|issue/.test(subject)) {\n  category = \"complaint\";\n} else if (/feedback|suggestion/.test(subject)) {\n  category = \"feedback\";\n} else if (/inquiry|open|working|tomorrow|holiday/.test(subject)) {\n  category = \"inquiry\";\n} else if (/sales|offer|quotation/.test(subject)) {\n  category = \"sales\";\n\n}\n\nreturn {\n  json: {\n    ...$json,\n    category\n  }\n};\n\n"},"id":"97057265-e5a7-4e6d-a59c-f0d5a1a6c9b3","name":"Code","type":"n8n-nodes-base.code","position":[-2208,1184],"typeVersion":2},{"parameters":{"promptType":"define","text":"=##role\nYou are an email classifier. Given an email's subject and body, return one of these exact categories: [\"hr\", \"billing\", \"complaint\", \"feedback\", \"inquiry\", \"sales\", \"client\"].\n\nOnly return one word from this list. If the email is a bill or invoice, return \"billing\". If it's a job application, return \"hr\". If unsure, return \"inquiry\".\n\nSubject: {{ $json[\"subject\"] }}\nBody: {{ $json[\"body\"] }}\n"},"id":"5dfac863-2d7e-433a-aa2b-e5106c5a333a","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[-1376,1488],"typeVersion":1.6},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"id":"fa79b4b0-fa7e-4f03-88b3-cd33345a97eb","name":"Groq Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","position":[-1280,1696],"typeVersion":1,"credentials":{"groqApi":{"id":"QrOzkrx9BfVFYe6y","name":"Groq account"}}},{"parameters":{"model":"llama-3.1-8b-instant","options":{}},"id":"33620e63-d9d1-4440-af6a-ecae41885bd3","name":"Groq Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatGroq","position":[-1184,1120],"typeVersion":1,"credentials":{"groqApi":{"id":"QrOzkrx9BfVFYe6y","name":"Groq account"}}},{"parameters":{"text":"=Another happy customer said: \" {{ $json.textPlain }}\"\n","additionalFields":{}},"id":"dd8c2e3d-563e-438a-92a8-e2d56b3c4ad6","name":"X","type":"n8n-nodes-base.twitter","position":[-656,848],"typeVersion":2,"credentials":{"twitterOAuth2Api":{"id":"OTyw5H0Xa6xwrv0D","name":"X account"}}},{"parameters":{"options":{}},"id":"5012f3ab-203c-47ce-8948-f6e807d44461","name":"Groq Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatGroq","position":[-176,1360],"typeVersion":1,"credentials":{"groqApi":{"id":"QrOzkrx9BfVFYe6y","name":"Groq account"}}},{"parameters":{"promptType":"define","text":"=You are an HR assistant.\n\nHere is the job description for the role:\n\n[Insert role details here, e.g., \"Looking for a Python Developer with experience in Django, REST APIs, and SQL.\"]\n\nNow, read the following candidate's email/resume and evaluate if they are a good fit for this role.\n\nIf suitable, respond with:\nACCEPT - and a brief explanation why.\n\nIf not suitable, respond with:\nREJECT - and a brief explanation why.\n\nCandidate's email/resume:\n{{ $json[\"emailText\"] }}\n"},"id":"1a84d138-69a9-4642-bd18-88548d9aaa46","name":"Basic LLM Chain1","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[-1504,256],"typeVersion":1.6},{"parameters":{"model":"llama-3.1-8b-instant","options":{}},"id":"a8ba1e03-58e2-442a-b0de-37aa42563828","name":"Groq Chat Model3","type":"@n8n/n8n-nodes-langchain.lmChatGroq","position":[-1424,480],"typeVersion":1,"credentials":{"groqApi":{"id":"QrOzkrx9BfVFYe6y","name":"Groq account"}}},{"parameters":{"jsCode":"const aiResponse = $json[\"text\"] || \"\";  // Adjust key if different\nconst isAccepted = aiResponse.toLowerCase().startsWith(\"accept\");\n\nreturn [{\n  json: {\n    decision: isAccepted ? \"accept\" : \"reject\",\n    aiResponse: aiResponse,\n    candidateEmail: $json[\"candidateEmail\"] || \"\", // get candidate email from previous nodes\n  }\n}];\n"},"id":"818e1d06-1c7d-40bc-8608-33c79940a78e","name":"Code2","type":"n8n-nodes-base.code","position":[-1056,368],"typeVersion":2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"366a42b8-a4eb-4488-9872-6f1aa097fc48","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json[decision] }}","rightValue":"accept"}]},"renameOutput":true,"outputKey":"accept"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"6146a9fb-3988-4078-af40-4c87840816a9","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json[decision] }}","rightValue":"reject"}]},"renameOutput":true,"outputKey":"reject"}]},"options":{}},"id":"7065bcab-6c92-4d4c-8a46-5e24b58f46e8","name":"Switch","type":"n8n-nodes-base.switch","position":[-848,368],"typeVersion":3.2},{"parameters":{"mode":"retrieve-as-tool","toolName":"knowlagebase","toolDescription":"company dock","pineconeIndex":{"__rl":true,"mode":"list","value":"demokb","cachedResultName":"demokb"},"options":{}},"id":"c37794e0-4834-4c9d-9161-0186adafab15","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[-64,1328],"typeVersion":1.1},{"parameters":{"modelName":"embed-english-v3.0"},"id":"57c398d8-6eca-4ba2-b165-72219d16a681","name":"Embeddings Cohere","type":"@n8n/n8n-nodes-langchain.embeddingsCohere","position":[80,1488],"typeVersion":1},{"parameters":{},"id":"1c2e0493-297a-4edf-807c-898b83f55cf7","name":"When clicking ‘Execute workflow’","type":"n8n-nodes-base.manualTrigger","position":[-2096,2144],"typeVersion":1},{"parameters":{"url":"https://www.dropbox.com/scl/fo/p05bb9t8o6ech9d1joj7s/AKJmlI3mlt3O8qSjGbroMLc?rlkey=m1h852ks0y2o1gmdmbk3uda1d&st=pk0pq820&dl=1","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"774b029c-520d-46e8-a266-8a1e70161e13","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","position":[-1888,2144],"typeVersion":4.2},{"parameters":{"operation":"pdf","options":{}},"id":"d9e2c53c-14ea-405a-b924-5e09902adf24","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","position":[-1664,2144],"typeVersion":1},{"parameters":{"mode":"runOnceForEachItem","jsCode":"\nconst text = $json.extractedText || $json.text || '';\n\n\nconst cleanedText = text.replace(/\\s+/g, ' ').trim();\n\nreturn {\n  json: {\n    original: text,\n    cleaned: cleanedText\n  }\n};\n"},"id":"68f2ff18-f533-4959-8890-20aaf9092f14","name":"Code3","type":"n8n-nodes-base.code","position":[-1440,2144],"typeVersion":2},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"mode":"list","value":"demokb","cachedResultName":"demokb"},"options":{}},"id":"de9aa19c-94ee-484f-b2d7-7d0bf3f5e329","name":"Pinecone Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[-1216,2144],"typeVersion":1.1},{"parameters":{"modelName":"embed-multilingual-v3.0"},"id":"a2267b0b-0cf7-4c74-b4d3-3c50b5b4dda3","name":"Embeddings Cohere1","type":"@n8n/n8n-nodes-langchain.embeddingsCohere","position":[-1216,2368],"typeVersion":1},{"parameters":{"options":{}},"id":"c13efc24-2bf1-494c-8bd3-0b696f897dde","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[-1104,2384],"typeVersion":1},{"parameters":{"options":{}},"id":"dfe7f42d-244a-41f2-a138-9fb0bcaa066b","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[-1024,2560],"typeVersion":1},{"parameters":{"fromEmail":"{{ demo_from_email }","toEmail":"={{ demo_to_email }}","subject":"negative feedback","emailFormat":"text","text":"=New feedback received:\n\nSubject: {{$json[\"subject\"]}}\n\nContent: {{$json[\"emailContent\"]}}\n\nSentiment: {{$json[\"sentiment\"]}}\n","options":{}},"id":"6c65d670-0421-458c-b325-b45229bbee2a","name":"send email to team","type":"n8n-nodes-base.emailSend","position":[-448,944],"webhookId":"408004d1-ebdb-4776-a9f8-6a470db658a0","typeVersion":2.1,"credentials":{"smtp":{"id":"G5dmKjCtoJCp1ssa","name":"SMTP account"}}},{"parameters":{"fromEmail":"={{ demo_from_email }","toEmail":"={{ $('Email Trigger (IMAP)').item.json.from }}","subject":"inqury reply","emailFormat":"text","text":"={{ $json.output }}","options":{}},"id":"68c9ed53-2d8d-49ca-990b-337ee61e05cc","name":"send reply to customer","type":"n8n-nodes-base.emailSend","position":[112,1056],"webhookId":"bf79c357-f57f-4851-a8bc-c95602e4c069","typeVersion":2.1,"credentials":{"smtp":{"id":"G5dmKjCtoJCp1ssa","name":"SMTP account"}}},{"parameters":{"fromEmail":"={{ demo_from_email }}","toEmail":"={{ demo_to_email }}","subject":"New Customer Complaint Received","emailFormat":"text","text":"=\nA new complaint has been received from {{ $json[\"userName\"] || \"a customer\" }}:\n\n\"{{ $json[\"complaintText\"] }}\"\n\nPlease investigate and resolve this\n","options":{}},"id":"32955f64-b05d-4097-b734-e11abdb030d0","name":"send to support team","type":"n8n-nodes-base.emailSend","position":[-928,688],"webhookId":"211a9ca3-9768-486e-aad6-fbb52f6d3b2b","typeVersion":2.1,"credentials":{"smtp":{"id":"G5dmKjCtoJCp1ssa","name":"SMTP account"}}},{"parameters":{"fromEmail":"={{ demo_from_email }}","toEmail":"={{ $json.from }}","subject":"Complaint Received","emailFormat":"text","text":"=We Received Your Complaint\n\nThank you for reaching out to us. We have received your complaint:\n\n\"{{ $json[\"complaintText\"] }}\"\n\nOur team is currently reviewing it and will get back to you as soon as possible.\n\nWe apologize for any inconvenience caused.\n\nFrom , \nCustomer Support Team\n","options":{}},"id":"282c6ed3-59ef-4b3f-9f60-868799619061","name":"Send to customer","type":"n8n-nodes-base.emailSend","position":[-1168,688],"webhookId":"1ef34921-41bc-4a94-ab3e-2553e5c1758c","typeVersion":2.1,"credentials":{"smtp":{"id":"G5dmKjCtoJCp1ssa","name":"SMTP account"}}},{"parameters":{"fromEmail":"={{ demo_from_email }}","toEmail":"={{ $('Email Trigger (IMAP)').item.json.from }}","subject":"Job Application Status: Not selected","emailFormat":"text","text":"=Dear Candidate,\n\nThank you for applying. After review, we regret to inform you that you do not fit the requirements at this time.\n\nDetails: {{$json[\"aiResponse\"]}}\n\nBest regards,\nHR Team","options":{}},"id":"28476e6b-5a54-4560-9489-f7d61953f5bc","name":"rejection email","type":"n8n-nodes-base.emailSend","position":[-624,464],"webhookId":"ea634c6c-305a-499e-8773-d539e8489310","typeVersion":2.1,"credentials":{"smtp":{"id":"G5dmKjCtoJCp1ssa","name":"SMTP account"}}},{"parameters":{"fromEmail":"{{ demo_from_email }","toEmail":"={{ demo_to_email }}","subject":"=New Candidate Accepted:","emailFormat":"text","text":"=Hello HR Team,\n\nCandidate {{$json[\"candidate\"]}} has been accepted with a score of {{$json[\"score\"]}}.\n\nPlease proceed with the next steps.","options":{}},"id":"d7ac8eab-09ee-4529-8ad3-160c4a59dfd5","name":"to hr","type":"n8n-nodes-base.emailSend","position":[-400,256],"webhookId":"1794df4d-7feb-47d6-a8a0-910197e6df62","typeVersion":2.1,"credentials":{"smtp":{"id":"G5dmKjCtoJCp1ssa","name":"SMTP account"}}},{"parameters":{"fromEmail":"={{ demo_from_email }}","toEmail":"={{ $('Email Trigger (IMAP)').item.json.from }}","subject":"Job Application Status: Accepted","emailFormat":"text","text":"=Dear Candidate,\n\nCongratulations! You have been accepted for the role.\n\nDetails: {{$json[\"aiResponse\"]}}\n\nBest regards,\nHR Team\n","options":{}},"id":"26371b3f-af49-4ee7-a914-0d7d9cf3526f","name":"accepted confirm to candidate","type":"n8n-nodes-base.emailSend","position":[-624,256],"webhookId":"bc4ad05b-966f-4bf2-bb80-23f996862711","typeVersion":2.1,"credentials":{"smtp":{"id":"G5dmKjCtoJCp1ssa","name":"SMTP account"}}},{"parameters":{"fromEmail":"{{ demo_from_email }","toEmail":"={{ demo_to_email }}","subject":"NEW BILL","emailFormat":"text","text":"=\n\nA new billing email has been received.\n\nFrom: {{$json[\"from\"]}}\nSubject: {{$json[\"subject\"]}}\n\nEmail content:\n{{$json[\"body\"]}}\n\n","options":{}},"id":"e7419585-0c7b-4daf-a3e3-c9438ab1467e","name":"bill send to team","type":"n8n-nodes-base.emailSend","position":[-1488,624],"webhookId":"91eaac98-671d-4e51-9a36-70a567908385","typeVersion":2.1,"credentials":{"smtp":{"id":"G5dmKjCtoJCp1ssa","name":"SMTP account"}}},{"parameters":{"content":"EMAIL CLASSIFIER USING SWITCH","height":620,"width":480,"color":5},"id":"12d49411-81df-4573-a8a2-d786c7b3e60e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-2288,800],"typeVersion":1},{"parameters":{"content":"USE FOR AI AGENT WHEN SWITCH FAILS","height":200,"width":600},"id":"e39f5219-94cc-4977-9980-b7bd4d400020","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-1536,1440],"typeVersion":1},{"parameters":{"fromEmail":"={{ demo_from_email }}","toEmail":"={{ demo_to_email }}","subject":"sales","emailFormat":"text","text":"= Sales Team\n\nFrom: {{$json[\"from\"]}}\nSubject: {{$json[\"subject\"]}}\n\nEmail content:\n{{$json[\"body\"]}}\n\n","options":{}},"id":"58e004d5-24f9-4c67-a356-baa3c64a63ac","name":"TO SALES TEAM","type":"n8n-nodes-base.emailSend","position":[-1024,1216],"webhookId":"d0fbd1fe-eafc-4915-a9d0-699a5676f218","typeVersion":2.1,"credentials":{"smtp":{"id":"G5dmKjCtoJCp1ssa","name":"SMTP account"}}},{"parameters":{"jsCode":"const knownCategories = [\n  \"hr\",\n  \"billing\",\n  \"complaint\",\n  \"feedback\",\n  \"inquiry\",\n  \"sales\",\n  \"client\"\n];\n\nconst response = $json[\"category\"] || $json[\"output\"] || $json[\"text\"] || \"\";  // adapt this based on how your LLM responds\n\nconst normalized = response.trim().toLowerCase();\n\nif (knownCategories.includes(normalized)) {\n  return [{ json: { category: normalized } }];\n} else {\n  return [{ json: { category: \"unknown\" } }];\n}\n\n\n"},"id":"046e15b4-3691-470a-90eb-74234123ffda","name":"CLEAN AI AGENT OUTPUT","type":"n8n-nodes-base.code","position":[-944,1600],"typeVersion":2},{"parameters":{"promptType":"define","text":"=You are a helpful assistant replying to a customer inquiry via email.\n\nUse the following information retrieved from our documents to generate a clear, professional response.\n\nContext:\n{{ $json[\"vectors\"].map(v => v.metadata.text).join(\"\\n\\n\") || \"No context available.\" }}\n\nCustomer's Question:\n{{ $json[\"emailText\"] }}\n\nRespond with a structured and informative email. Summarize any important points about products, services, or team details. Keep the tone polite and helpful.\n\n","hasOutputParser":true,"options":{}},"id":"93dca739-3dc6-44e3-b950-7d83bc8d6d50","name":"RAG INQURY REPLY","type":"@n8n/n8n-nodes-langchain.agent","position":[-224,1056],"typeVersion":2},{"parameters":{"inputText":"=\n {{ $json.textPlain }}","options":{"categories":"Positive, Neutral, Negative"}},"id":"5f8e2b89-4640-43c2-be24-58cf0271986a","name":"Sentiment Analysis of feedback","type":"@n8n/n8n-nodes-langchain.sentimentAnalysis","position":[-1248,944],"typeVersion":1,"alwaysOutputData":true},{"parameters":{"content":"check if feedback is postive or nrgative","height":200,"width":500},"id":"4e15bd1c-e3c6-4eaf-90e9-96382a2e1a63","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-1360,896],"typeVersion":1},{"parameters":{"content":"details of business in pdf form to vector db","height":460,"width":1500},"id":"58ae7faa-0e6c-4d0e-933f-a201b2dff4e3","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-2240,2048],"typeVersion":1}],"connections":{"Code":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Pinecone Vector Store1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"accepted confirm to candidate","type":"main","index":0}],[{"node":"rejection email","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}],[{"node":"bill send to team","type":"main","index":0}],[{"node":"Send to customer","type":"main","index":0}],[{"node":"Sentiment Analysis of feedback","type":"main","index":0}],[{"node":"RAG INQURY REPLY","type":"main","index":0}],[{"node":"TO SALES TEAM","type":"main","index":0}],[{"node":"Basic LLM Chain","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"CLEAN AI AGENT OUTPUT","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Groq Chat Model1":{"ai_languageModel":[[{"node":"Sentiment Analysis of feedback","type":"ai_languageModel","index":0}]]},"Groq Chat Model2":{"ai_languageModel":[[{"node":"RAG INQURY REPLY","type":"ai_languageModel","index":0}]]},"Groq Chat Model3":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"RAG INQURY REPLY":{"main":[[{"node":"send reply to customer","type":"main","index":0}]]},"Send to customer":{"main":[[{"node":"send to support team","type":"main","index":0}]]},"Embeddings Cohere":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Extract from File":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Embeddings Cohere1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store1","type":"ai_document","index":0}]]},"Email Trigger (IMAP)":{"main":[[{"node":"Code","type":"main","index":0}]]},"CLEAN AI AGENT OUTPUT":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Pinecone Vector Store":{"ai_tool":[[{"node":"RAG INQURY REPLY","type":"ai_tool","index":0}]]},"accepted confirm to candidate":{"main":[[{"node":"to hr","type":"main","index":0}]]},"Sentiment Analysis of feedback":{"main":[[{"node":"X","type":"main","index":0}],[{"node":"send email to team","type":"main","index":0}],[{"node":"send email to team","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6eb2a66c-955d-4af5-9cbe-4e9c6600f055","triggerCount":0,"shared":[{"createdAt":"2025-10-02T11:45:00.338Z","updatedAt":"2025-10-02T11:45:00.338Z","role":"workflow:owner","workflowId":"5qes2IdsnbUgu4iK","projectId":"LHEmgw1As9k75i72"}],"tags":[]}