workflows/OpenAI e-mail classification - application.json
{"createdAt":"2025-10-02T09:32:29.640Z","updatedAt":"2025-10-02T11:40:16.000Z","id":"6Ve2sbnNL4c1JIhn","name":"OpenAI e-mail classification - application","active":false,"isArchived":true,"nodes":[{"parameters":{"postProcessAction":"nothing","format":"resolved","dataPropertyAttachmentsPrefixName":"attachment","options":{}},"id":"34384913-2288-459f-8719-697176b5faa8","name":"Email trigger","type":"n8n-nodes-base.emailReadImap","position":[-1008,-32],"typeVersion":2,"credentials":{"imap":{"id":"sbfRrL020H9xf0v5","name":"IMAP account"}}},{"parameters":{"content":"### Change or add any category you want\nEach category can be assigned it's own specific workflow","height":200},"id":"844d9d35-64e5-4e21-94b8-907648e3d847","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-576,-176],"typeVersion":1},{"parameters":{"inputText":"={{ $('Email trigger').first().json.text }}\n\nattachment:\n{{ $('Extract data from attachment').first().json.text }}\n","categories":{"categories":[{"category":"job_application","description":"for job applications"},{"category":"inbound_lead","description":"for sales inquiries or requests for more information about our products/services"},{"category":"invoice","description":"for invoices"},{"category":"other","description":"for all other sorts of emails"}]},"options":{}},"id":"8ba3bf3f-3e69-4cb9-856e-b9f74df1865e","name":"Classify email","type":"@n8n/n8n-nodes-langchain.textClassifier","position":[-576,-64],"typeVersion":1},{"parameters":{"model":"gpt-4o","options":{}},"id":"32b36f3e-eafb-459d-a5d5-285080021bd5","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-544,240],"typeVersion":1,"credentials":{"openAiApi":{"id":"ybKWjgaznJsUQAHd","name":"OpenAi account"}}},{"parameters":{"authentication":"coreImapAccount","resource":"email","operation":"moveEmail","sourceMailbox":{"__rl":true,"mode":"list","value":"INBOX"},"destinationMailbox":{"__rl":true,"mode":"list","value":"INBOX"}},"type":"n8n-nodes-imap.imap","typeVersion":1,"position":[-192,-208],"id":"578ea21d-0477-4691-98c7-df14bcc6b733","name":"MoveEmail email","credentials":{"imap":{"id":"sbfRrL020H9xf0v5","name":"IMAP account"}}}],"connections":{"Email trigger":{"main":[[{"node":"Classify email","type":"main","index":0}]]},"Classify email":{"main":[[{"node":"MoveEmail email","type":"main","index":0}],[],[],[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Classify email","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"55d120c0-89a4-47b5-ad3c-9248738104d1","triggerCount":0,"shared":[{"createdAt":"2025-10-02T09:32:29.644Z","updatedAt":"2025-10-02T09:32:29.644Z","role":"workflow:owner","workflowId":"6Ve2sbnNL4c1JIhn","projectId":"LHEmgw1As9k75i72"}],"tags":[]}