workflows/V1 Local RAG AI Agent.json
{"createdAt":"2025-09-25T23:41:41.431Z","updatedAt":"2025-09-25T23:41:41.431Z","id":"c3KcYdlw6JlnDMbg","name":"V1 Local RAG AI Agent","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"21b42ebd-2cc0-4e53-b212-def9c7085363","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.1,"position":[480,352]},{"parameters":{"model":"llama3.1:latest","options":{}},"id":"ad584461-b145-4601-8729-c354fec07e94","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[368,352]},{"parameters":{"model":"llama3.1:latest","options":{}},"id":"5afec367-432c-484e-9902-ca1b687d0c21","name":"Ollama Model","type":"@n8n/n8n-nodes-langchain.lmOllama","typeVersion":1,"position":[1408,288]},{"parameters":{"name":"documents","topK":3},"id":"cefc6cb2-e1f7-4b41-a0bb-88e9617e1ef4","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[1184,128]},{"parameters":{"model":"nomic-embed-text:latest"},"id":"a149086b-1eb7-45a6-9422-b294501c167b","name":"Embeddings Ollama","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[1280,384]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1914m3M7kRzkd5RJqAfzRY9EBcJrKemZC","mode":"list","cachedResultName":"Meeting Notes","cachedResultUrl":"https://drive.google.com/drive/folders/1914m3M7kRzkd5RJqAfzRY9EBcJrKemZC"},"event":"fileCreated","options":{}},"id":"2ddb26d6-8032-4d0f-a27e-86193303bdc6","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[48,672]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1914m3M7kRzkd5RJqAfzRY9EBcJrKemZC","mode":"list","cachedResultName":"Meeting Notes","cachedResultUrl":"https://drive.google.com/drive/folders/1914m3M7kRzkd5RJqAfzRY9EBcJrKemZC"},"event":"fileUpdated","options":{}},"id":"f3449ed4-5cb5-4756-badb-4bf355f011df","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[48,880]},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"dd0aa081-79e7-4714-8a67-1e898285554c","name":"folder_id","value":"={{ $json.parents[0] }}","type":"string"}]},"options":{}},"id":"306fe7d3-5e44-43a2-b8bd-44429798c5cf","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,672]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"ad5ea5aa-cab2-4172-b54c-c12480e3b617","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[752,672],"executeOnce":true},{"parameters":{"operation":"text","options":{}},"id":"c28d363f-54b8-4434-b217-58f485f77883","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[992,672],"alwaysOutputData":true},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"file_id","value":"={{ $('Set File ID').item.json.file_id }}"},{"name":"folder_id","value":"={{ $('Set File ID').item.json.folder_id }}"}]}}},"id":"a5571f72-063d-4952-8d6a-ea103e264e99","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1312,880]},{"parameters":{"chunkSize":100,"options":{}},"id":"dfd82554-46b8-48dc-a6d0-5593db824098","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1312,1104]},{"parameters":{"model":"nomic-embed-text:latest"},"id":"0d507f4d-55d0-418e-a47f-a252515cab3f","name":"Embeddings Ollama1","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[1152,880]},{"parameters":{"content":"## Local RAG AI Agent with Chat Interface","height":527.3027193303974,"width":969.0343804425795},"id":"bb09c66c-d894-4034-9036-75e96fe19524","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"## Agent Tools for Local RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"11952f77-d0bb-48d6-a0c7-3fa0e16687e0","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[992,0]},{"parameters":{"content":"## Workflow to Create Local Knowledgebase from Google Drive Folder","height":705.2695614889159,"width":1568.9362829025763,"color":5},"id":"5cdf4fb8-a614-475f-8f90-7407ddaac09d","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,544]},{"parameters":{"options":{}},"id":"c9767bce-9518-4676-9344-401886087452","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[64,128],"webhookId":"4b3b1838-d6b3-447e-9d79-d0931eddb9f8"},{"parameters":{"qdrantCollection":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"id":"64a8dade-3ecf-4389-83c0-03325eb25d29","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[1008,272]},{"parameters":{"code":{"execute":{"code":"const { QdrantVectorStore } = require(\"@langchain/qdrant\");\nconst { OllamaEmbeddings } = require(\"@langchain/community/embeddings/ollama\");\n\nconst embeddings = new OllamaEmbeddings({\n  model: \"nomic-embed-text\",\n  baseUrl: \"http://ollama:11434\"\n});\n\nconst vectorStore = await QdrantVectorStore.fromExistingCollection(\n  embeddings,\n  {\n    url: \"http://qdrant:6333\",\n    collectionName: \"documents\",\n  }\n);\n\nconst fileIdToDelete = this.getInputData()[0].json.file_id;\n\nconst filter = {\n        must: [\n            {\n                key: \"metadata.file_id\",\n                match: {\n                    value: fileIdToDelete,\n                },\n            },\n        ],\n    }\n\n// const results = await vectorStore.similaritySearch(\"this\", 10, filter);\n// const idsToDelete = results.map((doc) => doc.id);\n\n// NOT IMPLEMENTED!\n// await vectorStore.delete({ ids: idsToDelete });\n\nvectorStore.client.delete(\"documents\", {\n  filter\n});\n\nreturn [ {json: { file_id: fileIdToDelete } } ];\n"}},"inputs":{"input":[{"type":"main","required":true}]},"outputs":{"output":[{"type":"main"}]}},"id":"e946a752-8a06-4f40-b2de-a1b65174d741","name":"Clear Old Vectors","type":"@n8n/n8n-nodes-langchain.code","typeVersion":1,"position":[528,672],"alwaysOutputData":false},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"id":"49ed4a7f-e0c7-47ad-9dec-b4788a6ca384","name":"Qdrant Vector Store Insert","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[1200,672]},{"parameters":{"options":{}},"id":"1721251f-ab6b-46b6-bfd4-9a48069b39c6","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[784,128]},{"parameters":{"httpMethod":"POST","path":"invoke_n8n_agent","responseMode":"responseNode","options":{}},"id":"4e2a84f6-c812-472b-9316-23941f3bcdf3","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[64,304],"webhookId":"4a839da9-b8a2-45f8-bcaf-c484f9a5912d"},{"parameters":{"options":{}},"id":"b08b864b-62e2-4944-a93f-8c12deedd8ea","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[448,128]},{"parameters":{"assignments":{"assignments":[{"id":"75ebfdef-c8e2-4c3e-b716-1479d0cc2a73","name":"chatInput","value":"={{ $json?.chatInput || $json.body.chatInput }}","type":"string"},{"id":"59b7a20f-0626-4861-93e2-015d430c266e","name":"sessionId","value":"={{ $json?.sessionId || $json.body.sessionId}}","type":"string"}]},"options":{}},"id":"4662f7c8-b1f8-4124-aa59-7a0eb1797dec","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,128]}],"connections":{"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Ollama Model":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Clear Old Vectors","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Qdrant Vector Store Insert","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store Insert","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings Ollama1":{"ai_embedding":[[{"node":"Qdrant Vector Store Insert","type":"ai_embedding","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Qdrant Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Clear Old Vectors":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c34915ef-ac67-45e5-8dca-f7cef0800730","triggerCount":0,"shared":[{"createdAt":"2025-09-25T23:41:41.434Z","updatedAt":"2025-09-25T23:41:41.434Z","role":"workflow:owner","workflowId":"c3KcYdlw6JlnDMbg","projectId":"LHEmgw1As9k75i72"}],"tags":[]}