workflows/V2 Supabase RAG AI Agent.json
{"createdAt":"2025-09-25T23:41:56.801Z","updatedAt":"2025-09-25T23:41:56.801Z","id":"7RTJT3TUgDO1VlRp","name":"V2 Supabase RAG AI Agent","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"1fe0cf6b-dc91-4e69-a42b-1d96fe6e28e4","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.1,"position":[480,352]},{"parameters":{"model":"qwen2.5:7b-instruct-q4_K_M","options":{}},"id":"d006b64a-cb34-4d1d-90a1-04d188e874f7","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[368,352]},{"parameters":{"model":"qwen2.5:7b-instruct-q4_K_M","options":{}},"id":"4364337e-adf6-4774-af56-709398e308d7","name":"Ollama Model","type":"@n8n/n8n-nodes-langchain.lmOllama","typeVersion":1,"position":[1408,288]},{"parameters":{"name":"documents","topK":3},"id":"9b85750e-b6b1-4442-8478-b8188c254481","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[1184,112]},{"parameters":{"operation":"text","destinationKey":"=data","options":{}},"id":"1005476e-47f8-4872-874e-9b009e26392e","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[928,640],"alwaysOutputData":true},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"file_id","value":"={{ $('Local File Trigger').item.json.path }}"}]}}},"id":"9a12f548-ae7f-400c-921c-d4b8df23f23f","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1312,880]},{"parameters":{"chunkSize":100,"options":{}},"id":"42d815e1-94cd-4385-977f-21ec83ec192b","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1312,1104]},{"parameters":{"model":"nomic-embed-text:latest"},"id":"feba9d14-c07c-4d7e-a225-52b7918ccca9","name":"Embeddings Ollama1","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[1152,880]},{"parameters":{"content":"## Local RAG AI Agent with Chat Interface","height":527.3027193303974,"width":969.0343804425795},"id":"470dd5c4-81f6-4ef6-aab1-eb75ec810df2","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"## Agent Tools for Local RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"b184346e-976d-48b6-a7ac-50440b756172","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[992,0]},{"parameters":{"content":"## Workflow to Create Local Knowledgebase","height":705.2695614889159,"width":1568.9362829025763,"color":5},"id":"3f23ed8d-d606-4d4b-b15c-f92cf1028bdb","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,544]},{"parameters":{"options":{}},"id":"12a4fb41-6df4-4adf-81df-0e202a266fd1","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[64,128],"webhookId":"4b3b1838-d6b3-447e-9d79-d0931eddb9f8"},{"parameters":{"options":{}},"id":"17f33f59-c71c-461f-ae62-1509668b8fca","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[784,128]},{"parameters":{"httpMethod":"POST","path":"invoke_n8n_agent","responseMode":"responseNode","options":{}},"id":"946c1513-663d-4dd3-a648-cb9719209ae4","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[64,304],"webhookId":"4a839da9-b8a2-45f8-bcaf-c484f9a5912d"},{"parameters":{"options":{}},"id":"1f02d7c5-c08a-42a6-ad0f-2aaf5238ab67","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[448,128]},{"parameters":{"assignments":{"assignments":[{"id":"75ebfdef-c8e2-4c3e-b716-1479d0cc2a73","name":"chatInput","value":"={{ $json?.chatInput || $json.body.chatInput }}","type":"string"},{"id":"59b7a20f-0626-4861-93e2-015d430c266e","name":"sessionId","value":"={{ $json?.sessionId || $json.body.sessionId}}","type":"string"}]},"options":{}},"id":"ffa0586d-72b1-4e31-865b-b52c928eeddd","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,128]},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1008,240],"id":"3966d361-4dcc-47a8-a53f-ded981cb126e","name":"Supabase Vector Store"},{"parameters":{"model":"nomic-embed-text:latest"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[1184,384],"id":"e64897ac-6772-4719-9e99-fa9f763f90c9","name":"Embeddings Ollama2"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1184,640],"id":"a5bdc9fb-2f0d-4729-b354-f6fde204a69d","name":"Supabase Vector Store1"},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.path }}*"},"id":"b7193169-6490-4a38-81ba-a210c87f6cc7","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[464,848],"alwaysOutputData":true},{"parameters":{"triggerOn":"folder","path":"/data/shared","events":["add","change"],"options":{"followSymlinks":true,"usePolling":true}},"type":"n8n-nodes-base.localFileTrigger","typeVersion":1,"position":[64,848],"id":"0eaa1441-f6c0-47c9-9458-210e589b44b0","name":"Local File Trigger"},{"parameters":{"fileSelector":"={{ $('Local File Trigger').item.json.path }}","options":{"dataPropertyName":"=data"}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[640,640],"id":"88d953de-6832-4dd1-b018-f9ff6a8b65d8","name":"Read/Write Files from Disk","executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e051736f-949a-4230-bf32-c9ade2674b12","leftValue":"={{ $json.event }}","rightValue":"add","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[288,672],"id":"c33482a8-d5cc-4d93-8114-b34b2cb77164","name":"If"}],"connections":{"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Ollama Model":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Extract Document Text":{"main":[[{"node":"Supabase Vector Store1","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store1","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings Ollama1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Embeddings Ollama2":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Local File Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"If":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}],[{"node":"Delete Old Doc Rows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3ca0c57b-9b98-402f-b053-c60c1c7bf56b","triggerCount":0,"shared":[{"createdAt":"2025-09-25T23:41:56.804Z","updatedAt":"2025-09-25T23:41:56.804Z","role":"workflow:owner","workflowId":"7RTJT3TUgDO1VlRp","projectId":"LHEmgw1As9k75i72"}],"tags":[]}